<div class="container" id="Credits">
    <div class="row">
        <div class="col-12">
            <h1>Ringraziamenti</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-8">
            <h2>Raccolta dati</h2>
            <p>Il CAI di Bologna ha la fortuna di poter contare sull'aiuto di volontari sia tra i suoi soci operatori della sentieristica che soci di altre Associazioni,
                aderenti  alla Consulta per l'Escursionismo o semplici cittadini, tutti esperti
                del territorio che portano avanti una costante azione di manutenzione e gestione di una parte della rete escursionistica Metropolitana di Bologna,
                composta da oltre 1200km di sentieri, dalle zone di pianure al crinale Tosco/Emilian-Romagnolo dell'Appennino, passando per le colline e la bassa montagna.
            <p>Un ringraziamento speciale per l'aggiornamento dei sentieri:</p>
            <ul>
                <li>Andrea Buscaglia</li>
                <li>Massimo Dondi</li>
                <li>Marco Eusebi</li>
                <li>Alessandro Geri</li>
            </ul>
        </div>
        <div class="offset-sm-0 offset-md-1 offset-lg-1 col-sm-12 col-md-4 col-lg-2">
            <img src="assets/cai/trekking/maintenance-min.jpg" class="full-width" alt="maintenance"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Licenza e attribuzione dei dati</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-8">
            Tutti i dati, se non altresì specificato sulla pagina "Dati e uso del sito", sono distribuiti con licenza <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
            Attribuzione - Non commerciale - Condividi allo stesso modo 4.0 Internazionale</a>.
        </div>
        <div class="offset-sm-0 offset-md-1 offset-lg-1 col-sm-12 col-md-4 col-lg-2">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img
                    alt="Licenza Creative Commons" style="border-width:0"
                    src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"/></a>
        </div>
    </div>
    <div class="row top-margin">
        <div class="col-12">
            <h2>Grafica</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <p>Il progetto grafico originale, successivamente revisitato, è del grafico ed experience designer Mauro
                Murgano, con le stupende illustrazioni di <a target="_blank" href="https://martinut.com">Martina
                    Tonello</a>, illustratrice basata nel Bolognese e appassionata di escursionismo e natura.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Sviluppo di Hikit, la piattaforma software</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <p>Lorenzo Verri (Lore), Luca Benassi (Benno), Giovanni Basso e altri volontari si occupano dello sviluppo di Hikit -
                piattaforma software "Hikit", infrastruttura portante di progetto, nonchè della sua manutenzione.
                Per saperne di più visita <a href="/development">sviluppare Hikit</a>
            </p>
        </div>
    </div>
</div>