<div class="container-box" [ngClass]="this.isCompleted ? 'completed' : 'to-complete'">
    <div class="row accordion-head">
        <div class="col-md-8">
            <h2>N.{{ i + 1 }}: Crocevia che incontra il sentiero <span
                    class="trailCodeColumn">{{ otherTrail.code }}</span></h2>
        </div>
        <div class="col-md-4">
            <button
                    type="button"
                    class="btn actionable full-width"
                    (click)="toggleShowing()"
                    *ngIf="!isShowing"
            >
                <span *ngIf="!isShowing">Mostra e completa</span>
            </button>
        </div>
    </div>
    <div class="row" *ngIf="isShowing">
        <div class="col-md-6" [ngClass]="{ collapse: !isShowing }">
            <app-location-entry
                    [classPrefix]="'crossway'"
                    [isEditableLocation]="false"
                    [trail]="trail"
                    [title]="crossWayTitle"
                    [otherTrails]="[otherTrail]"
                    [inputForm]="inputForm"
                    [markers]="[crossPointMarker]"
                    [i]="i"
            >
            </app-location-entry>
        </div>

        <div class="col-md-6 top-margin">
            <div class="row">
                <div class="col-md-12">
                    <h2>Dettagli</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button
                            class="actionable btn-info full-width btn"
                            type="button"
                            (click)="findPlaceCorrespondingTo()"
                    >
                        <span *ngIf="!hasAutoDetectedRun">Geolocalizza</span>
                        <span *ngIf="hasAutoDetectedRun">Ritenta geolocalizzazione</span>
                        <span *ngIf="hasAutoDetectedRun && !isAutoDetected"
                        > | Nessun match con altri crocevia da sistema</span
                        >
                    </button>
                </div>
            </div>
            <div class="row" *ngIf="hasAutoDetectedRun && isAutoDetected">
                <div class="col-md-12">
                    <button
                            class="actionable full-width btn"
                            type="button"
                            (click)="deleteGeolocalizedData()"
                    >
                        Cancella risultato geolocalizzato
                    </button>
                </div>
            </div>
            <div
                    class="row"
                    [ngClass]="{ collapse: !isAutoDetected && !hasAutoDetectedRun }"
            >
                <div class="col-md-12 hidden">
                    <label>Id <span class="mandatory-field-asterisk">*</span></label>
                    <input type="text" class="form-control"
                           [formControl]="id" [disabled]="true"/>
                </div>
                <div class="col-md-12 top-margin">
                    <label>Nome <span class="mandatory-field-asterisk">*</span></label>
                    <input type="text" class="form-control"
                           [disabled]="isSelectedFromSystem"
                           [formControl]="name"
                           (change)="changeCrossWayTitle($event.target.value)"
                           (keyup)="changeCrossWayTitle($event.target.value)" required/>
                </div>
                <div class="col-md-12 top-margin">
                    <label>Toponimi</label>
                    <input type="text" class="form-control"
                           placeholder="Toponimi divisi da una virgola"
                           [disabled]="isSelectedFromSystem"
                           [formControl]="tags" required/>
                </div>
                <div class="col-md-12 top-margin">
                    <label>Descrizione</label>
                    <quill-editor
                            [formControl]="description"
                            [className]="'description'"
                            [modules]="{
                toolbar: [
                  ['bold', 'italic', 'underline'],
                  [{ list: 'ordered' }, { list: 'bullet' }],
                  ['link']
                ]
              }"></quill-editor>
                </div>
            </div>
            <div class="row top-margin-x2">
                <div class="col-12">
                    <h2>Completato: {{ isCompleted ? "Si" : "No" }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
