@import "../../../style/const.scss";

.container-box {

    $color: #d000ff;

    padding: 5px;
    border: 1px solid black;

    .description {
        max-height: 300px;
        float: left;
        width: 100%;
        background: white;
    }
}

input[name="checkbox"] {
    width: 20px;
    float: left;
    margin: 10px;
}

.checkbox-label {
    float: left;
    margin: 20px;
}

.accordion-head {
    border-bottom: 1px solid black;
}

.to-complete {
    background-color: $soft-action-color;
}

.completed {
    background-color: #D1FFBE;
}

.align-right {
    text-align: right;
}