@import "../../../style/const.scss";

.container-box {
    padding: 5px;
    border: 1px solid black;
}

.accordion-head {
    border-bottom: 1px solid black;
}

.to-complete {
    background-color: $soft-action-color;
}

.completed {
    background-color: #D1FFBE;
}