@import "../../../app/style/general.scss";

.section-distance-up {
  margin-top: 20px;
}

.small-column {
  text-overflow: ellipsis;
  overflow: hidden; 
  max-width: 100px; 
  height: 1.2em; 
  white-space: nowrap;
}

.hide {
  display: none;
}

