.section-distance-up {
    margin-top: 20px;
}

.hide { 
    display: none;
}

.space-up {
    margin-top: 2%;
}

.trailPreview {
    transition:0.3s all;
}

.trailPreview:hover {
    background: #D04341;
    color: white;
    cursor: pointer;
}