<div class="it-header-slim-wrapper" id="header-slim-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a
            class=""
            href="https://www.sentieriecartografia.it/"
            target="_blank"
          >
            <img src="/assets/hikit/hikit.png" height="20" alt="SeC_logo" />
          </a>
          <div class="nav-mobile">
            <nav>
              <a
                class="it-opener d-lg-none"
                data-toggle="collapse"
                href="#menu-principale"
                role="button"
                aria-expanded="false"
                aria-controls="menu-principale"
              >
                <span>
                  <svg class="icon">
                    <use xlink:href="/assets/sec/logo.svg"></use>
                  </svg>
                </span>
                <svg class="icon">
                  <use
                    xlink:href="/assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"
                  ></use>
                </svg>
              </a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
