@import "../../style/const.scss";

.it-header-slim-wrapper .it-header-slim-wrapper-content a.navbar-brand,
.it-header-slim-wrapper
  .it-header-slim-wrapper-content
  .nav-mobile
  ul.link-list
  a {
  padding-top: 0px;
  color: black;
}

.it-header-slim-wrapper-tent,
.it-header-slim-wrapper {
  height: 45px;
  margin-top: 10px;
}

.it-header-slim-wrapper .it-header-slim-wrapper-content .nav-mobile ul.link-list{
  margin: 0 0px 0 0;
  display: flex;
  padding: 0 0px;
  border-left: 0px solid rgba(255,255,255,.2);
  border-right: 0px solid rgba(255,255,255,.2);
  height: 48px;
}

.it-header-slim-wrapper { 
  background-color: transparent;
  width: 1184px;
  margin: 0 auto;
  color: $primary-bg-color;
}