@import "../style/const.scss";

.it-footer {
  .cai-icon {
    width: 60px;
  }

  .container {
    padding: 0 0;
  }
}

.it-footer-main {
    background-color: $primary-bg-color;
  }

.it-footer-small-prints {
    background-color: white;
}

.it-footer-small-prints a { 
    color: black;
}

hr {
  background: white;
}

.footer-list{
  list-style: none;
  padding: 0;
}

.list-item {
  color: white;
  text-decoration: none;
}

.list-item:hover {
  text-decoration: underline;
}