<footer class="it-footer" [class]="isVisible == false ? 'hidden': ''">
    <div class="it-footer-main">
        <div class="container">
            <section>
                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="it-brand-wrapper">
                            <a href="#">
                                <img src="/assets/cai/cai_logo.webp" class="icon cai-icon" alt="CAI icon"/>
                                <div class="it-brand-text">
                                    <h2 class="no_toc">CAI Bologna</h2>
                                    <h3 class="no_toc d-none d-md-block">Sentieri e Cartografia</h3>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="it-brand-wrapper">
                            <a href="https://www.hikit.org">
                                <img src="/assets/hikit/hikit_360.webp" class="icon"/>
                                <div class="it-brand-text">
                                    <h3 class="no_toc">Powered by Hikit v1.6 - Giovo</h3>
                                    <p class="no_toc">La piattaforma di sentieristica <br> Open Source</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-4 border-white border-top">
                <div class="row">
                    <div class="col-lg-4 col-md-4 pb-2">
                        <h4><a href="#" title="Vai alla pagina: Contatti">Contatti</a></h4>
                        <p>
                            CAI Bologna
                            <br/>Sezione "Mario Fantin"
                            <br/>Via dei Fornaciai, 25/A, 40129 Bologna BO
                            <br/>Tel: 051 234856
                        </p>
                        <div class="link-list-wrapper">
                            <ul class="footer-list link-list clearfix">
                                <li><a class="list-item" href="#" title="Email Segreteria">segreteria@caibo.it</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 pb-2">
                        <h4><a href="#" title="Contatta il supporto tecnico">Supporto tecnico</a></h4>
                        <div class="link-list-wrapper">
                            <ul class="footer-list link-list clearfix">
                                <li><a class="list-item" href="#" title="Supporto tecnico">support@sentieriecartografia.it</a>
                                </li>
                            </ul>
                        </div>
                        <h4><a href="/admin" title="Fai accesso amministrativo">Accesso</a></h4>
<!--                        <h4><a href="/credits">Credits</a></h4>-->
                    </div>
                    <div class="link-list-wrapper">
                    </div>
                    <div class="col-lg-4 col-md-4 pb-2">
                        <div class="pb-2">
                            <h4><a href="#" title="Vai alla pagina: Seguici su">Info su</a></h4>
                            <ul class="footer-list link-list clearfix">
                                <li><a class="list-item" href="/maintenance" title="trekking">Manutenzioni</a></li>
                                <li><a class="list-item" href="/info/trekking" title="trekking">Escursionismo</a></li>
                                <li><a class="list-item" href="/info/cyclo" title="trekking">Ciclo-escursionismo</a></li>
                            </ul>
                        </div>
                        <div class="pb-2">
                            <h4><a href="#" title="Vai alla pagina: Seguici su">Seguici su</a></h4>
                            <ul class="list-inline text-left social">
                                <li class="list-inline-item">
                                    <a class="p-2 text-white" href="#" target="_blank">
                                        <i style="font-size:24px" class="fa">&#xf09a;</i>
                                        <span class="sr-only">CAI Bologna</span>
                                    </a>
                                </li>
                                <span class="sr-only">Facebook</span>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="it-footer-small-prints clearfix" id="footer-info">
        <div class="container">
            <h3 class="sr-only">Sezione Link Utili</h3>
            <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
                <li class="list-inline-item"><a href="#" title="Privacy-Cookies">Aggiornamento dati e uso del sito</a>
                </li>
                <li class="list-inline-item"><a href="#" title="Privacy-Cookies">Privacy policy</a></li>
            </ul>
        </div>
    </div>

    <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
            rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@500&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@200&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
</footer>