<div class="TrailUploadManagement">
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <div class="table-wrapper space-up">
        <div class="row">
            <div class="col-sm-4">
                <h2>Compilazione traccia</h2>
            </div>
            <div class="col-sm-6">
<!--                <h1 class="steps">-->
<!--                              <span-->
<!--                                      class="actionable"-->
<!--                                      *ngIf="this.STEP_INDEX > 0"-->
<!--                                      (click)="goBack()"-->
<!--                              >⬅</span-->
<!--                              >-->
<!--                    Step {{ this.STEP_INDEX + 1 }}/{{ this.STEPS.length }} :-->
<!--                    {{ this.STEPS[STEP_INDEX] }}-->
<!--                </h1>-->
            </div>
            <div class="col-sm-2">
                <div class="features">
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label
                                (click)="togglePreview()"
                                class="btn btn-primary full-width"
                                placement="bottom"
                                ngbTooltip="Mostra/nascondi anteprima"
                                tooltipClass="tooltip-c"
                                [ngClass]="{ active: isPreviewVisible }"
                        >
                            <svg class="bi" width="24" height="24" fill="currentColor">
                                <use
                                        xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#map-fill"
                                />
                            </svg>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!isLoading">
            <app-trail-floating-preview
                    [trails]="[trailRawDto]"
                    [isVisible]="isPreviewVisible"
                    (onClose)="this.togglePreview()"
            ></app-trail-floating-preview>
        </div>

        <div class="row" *ngIf="!isLoading">
            <div class="col">
                <p>
                    <b>{{
                        this.trailRawDto.fileDetails.originalFilename
                        }}</b
                    >, caricata da
                    <b>{{ this.trailRawDto.fileDetails.uploadedBy }}</b>
                </p>
            </div>
        </div>


        <form
                (ngSubmit)="processForm()"
                [formGroup]="trailFormGroup"
                *ngIf="!isLoading"
        >
            <div class="row">
                <div class="general-section col-12" *ngIf="this.STEP_INDEX == 0">
                    <h3 id="dati-generali" class="space-up">Dati generali</h3>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-3">
                            <p>Codice sentiero <span class="mandatory-field-asterisk">*</span></p>
                            <input
                                    type="text"
                                    class="form-control"
                                    formControlName="code"
                                    placeholder="Codice (es: 100BO)"
                                    required
                            />
                        </div>
                        <div class="form-group col-md-4 mb-3">
                            <p>Nome sentiero</p>
                            <input
                                    type="text"
                                    class="form-control"
                                    formControlName="name"
                                    placeholder="Nome sentiero, se diverso dal codice"
                            />
                        </div>
                        <div class="form-group col-md-4 mb-3">
                            <p>Classificazione escursionistica <span class="mandatory-field-asterisk">*</span></p>
                            <select
                                    title="Scegli una opzione"
                                    formControlName="classification"
                                    class="form-control"
                                    id="classification_select"
                            >
                                <option value="T">T</option>
                                <option value="E">E</option>
                                <option value="EE">EE</option>
                                <option value="EEA">EEA</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row top-margin">
                        <div class="form-group col-md-4 mb-3">
                            <p>Data rilevazione <span class="mandatory-field-asterisk">*</span></p>
                            <div class="input-group">
                                <input
                                        class="form-control"
                                        formControlName="lastUpdate"
                                        placeholder="gg/mm/aaaa"
                                        name="dp"
                                        [maxDate]="maxDate"
                                        ngbDatepicker
                                        [(ngModel)]="date"
                                        #d="ngbDatepicker"
                                />
                                <div class="input-group-append">
                                    <button
                                            class="btn btn-outline-secondary calendar"
                                            (click)="d.toggle()"
                                            type="button"
                                    >
                                        <svg width="24" height="24" fill="white" class="inner">
                                            <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#calendar"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4 mb-3">
                            <p>Tempo registrato di percorrenza, in minuti</p>
                            <div class="bootstrap-select-wrapper">
                                <input
                                        type="number"
                                        class="form-control"
                                        formControlName="officialEta"
                                        placeholder="Tempo di percorrenza in minuti"
                                        required
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-row top-margin">
                        <label
                                placement="right"
                                ngbTooltip="La descrizione dovrebbe accomodare informazioni di base per gli utenti."
                        >
                            Descrizione <span class="mandatory-field-asterisk">*</span>
                        </label>
                        <div class="form-group col-md-12 mb-12" *ngIf="!isLoading">
                            <quill-editor
                                    formControlName="description"
                                    [modules]="{
                toolbar: [
                  ['bold', 'italic', 'underline'],
                  [{ list: 'ordered' }, { list: 'bullet' }],
                  ['link']
                ]
              }"
                            ></quill-editor>
                        </div>
                    </div>
                </div>
            </div>

            <div class="crossing-section" [ngClass]="{ 'hide': this.STEP_INDEX != 1 }">
                <div class="row">
                    <div class="col-md-1">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use
                                    xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#signpost-split"
                            />
                        </svg>
                    </div>
                    <div class="col-md-11">
                        <h3 id="crocevia">Crocevia</h3>
                    </div>
                    <div class="col-md-12">
                        <p>
                            I crocevia sono punti di collegamento tra diversi sentieri. Vengono rilevati in automatico sulla base dei sentieri presenti.
                        </p>
                    </div>
                    <div class="col-md-12 top-margin" *ngFor="let place of intersections.controls; index as i">
                        <app-trail-intersection-entry
                                [inputForm]="place"
                                [trail]="trailRawDto"
                                [otherTrail]="crossings[i].trail"
                                [i]="i"
                                [crossPoint]="crossings[i].coordinate"
                                (onPlaceFound)="togglePlacePicker()"
                                (onIntersectionNameChange)="changeCrossingName($event, i)"
                        ></app-trail-intersection-entry>
                    </div>
                    <div class="col-md-12 top-margin" *ngIf="intersections.controls.length == 0">
                      ✔️ Nessun crocevia rilevato
                    </div>
                </div>
            </div>

            <!-- Modal Selector -->
            <div *ngIf="isPlacePicking">
                <div class="place-picking-bg"></div>
            </div>

            <div class="location-section" [ngClass]="{ 'hide': this.STEP_INDEX != 2}">
                <div class="row">
                    <div class="col-md-1">
                        <svg class="bi" width="32" height="32" fill="currentColor">
                            <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#joystick"
                            />
                        </svg>
                    </div>
                    <div class="col-md-11">
                        <h3 id="localita">Località</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="space-up col-md-12">
                        Le localita' sono utilizzate per segnalare punti di particolare
                        importanza sui sentieri.
                    </div>
                </div>

                <div class="row" *ngIf="this.STEP_INDEX == 2">
                    <div class="space-up col-md-12">
                        <app-location-entry
                                [title]="'Località iniziale'"
                                [classPrefix]="'startPos'"
                                [inputForm]="startPos"
                                [trail]="trailRawDto"
                                [startPoint]="0"
                                [i]="-1"
                                [isEditableLocation]="true"
                                [autoDetectOnFirstSelection]="true"
                                [markers]="[]"
                                [otherTrails]="[]"
                                [crossings]="crossings"
                                (onTextFocus)="onSetPlace()"
                        >
                        </app-location-entry>
                    </div>
                </div>

                <div class="row" *ngIf="this.STEP_INDEX == 2">
                    <div class="space-up col-md-12">
                        <app-location-entry
                                [title]="'Località di arrivo'"
                                [classPrefix]="'finalPos'"
                                [inputForm]="finalPos"
                                [trail]="trailRawDto"
                                [i]="0"
                                [startPoint]="trailRawDto.coordinates.length - 1"
                                [isEditableLocation]="true"
                                [autoDetectOnFirstSelection]="true"
                                [markers]="[]"
                                [otherTrails]="[]"
                                [crossings]="crossings"
                                (onTextFocus)="onSetPlace()"
                        >
                        </app-location-entry>
                    </div>
                </div>

                <div formArrayName="locations">
                    <app-location-entry
                            *ngFor="let place of locations.controls; index as i"
                            [inputForm]="place"
                            [showIndex]="true"
                            [trail]="trailRawDto"
                            [i]="i + PLACE_OFFSET"
                            [isEditableLocation]="true"
                            [showPositionControls]="true"
                            [otherTrails]="[]"
                            [markers]="[]"
                            [isDeletable]="true"
                            [crossings]="crossings"
                            (onTextFocus)="onSetPlace()"
                            (onDelete)="onDeletePlace($event)"
                    >
                    </app-location-entry>
                </div>

                <div class="form-row">
                    <button
                            type="button"
                            class="btn btn-success mt-3 wide-btn"
                            (click)="onAddLocation()"
                    >
                        + località intermedia
                    </button>
                </div>
            </div>

            <div class="row errors" *ngIf="errors.length > 0">
                <div class="col-12 top-margin-x2">
                    <ul>
                        <li *ngFor="let error of errors">{{error}}</li>
                    </ul>
                </div>
            </div>

            <div class="form-row" *ngIf="this.STEP_INDEX == 2" (click)="proceed()">
                <div class="col col-md-12 top-margin-x2">
                    <button class="btn btn-primary full-width" type="submit">
                        Salva sentiero
                    </button>
                </div>
            </div>
            <div class="row" *ngIf="this.STEP_INDEX < 2">
                <div class="col top-margin-x2">
                    <button class="btn btn-primary full-width" (click)="proceed()">
                        Vai allo step {{ this.STEP_INDEX + 2 }}:
                        {{ this.STEPS[this.STEP_INDEX + 1] }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
