<div class="row MaintenanceAddComponent">
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h2>Aggiungi uscita di manuntenzione</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    Compila i seguenti campi per aggiungere un'uscita di manuntenzione.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form
                        class="needs-validation"
                        [formGroup]="formGroup"
                        (ngSubmit)="onSubmit()"
                >
                    <div class="row">
                        <div class="col-md-6 top-margin">
                            <p>Sentiero interessato</p>
                        </div>
                        <div class="col--md-6 top-margin">
                            <p>Codice sentiero, se non presente nella lista</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <select
                                    title="Scegli una opzione"
                                    formControlName="trailId"
                                    data-live-search="true"
                                    data-live-search-placeholder="Cerca opzioni"
                                    class="form-control"
                                    (change)="onSelectedTrail($event)"
                            >
                                <option *ngFor="let trailMapping of trailMappings"
                                        [value]="trailMapping.id">
                                    {{ trailMapping.code }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div>
                                <input type="text" class="form-control"
                                       formControlName="trailCode"
                                       id="exampleFormControlInput1">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 top-margin">
                            <app-map-preview
                                    [classPrefix]="''"
                                    [index]="'0'"
                                    [otherTrails]="selectedTrails"
                                    [trailPreview]="trail"
                                    [elementAt]="0"
                                    [isShowOtherBtnEnabled]="true"
                                    [markersCoordinates]="markers"
                            ></app-map-preview>
                        </div>
                    </div>

                    <div class="row top-margin">
                        <div class="col-md-12 top-margin">
                            <label>Contatto <span class="mandatory-field-asterisk">*</span></label>
                        </div>
                        <div class="col-md-12">
                            <input
                                    type="text"
                                    class="form-control"
                                    formControlName="contact"
                                    placeholder="Contatto (es: Mario Rossi)"
                            />
                        </div>
                        <div class="col-md-12 top-margin">
                            <label>Data e ora manutenzione <span class="mandatory-field-asterisk">*</span></label>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input
                                        class="form-control"
                                        formControlName="date"
                                        placeholder="gg/mm/aaaa"
                                        name="dp"
                                        [minDate]="minDate"
                                        ngbDatepicker
                                        [(ngModel)]="date"
                                        #d="ngbDatepicker"
                                />
                                <div class="input-group-append">
                                    <button
                                            class="btn btn-outline-secondary calendar"
                                            (click)="d.toggle()"
                                            type="button"
                                    >
                                        <svg width="24" height="24" fill="white" class="inner">
                                            <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#calendar"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <ngb-timepicker formControlName="time" [spinners]="false"></ngb-timepicker>
                            </div>
                        </div>

                    </div>
                    <div class="row top-margin">
                        <div class="col-12">
                            <label>Posto dell'incontro <span class="mandatory-field-asterisk">*</span></label>
                        </div>
                        <div class="col-12">
                            <input
                                    type="text"
                                    class="form-control"
                                    formControlName="meetingPlace"
                                    placeholder="Posto dell'incontro"
                                    required
                            />
                        </div>
                        <div class="col-12 top-margin">
                            <label>Descrizione <span class="mandatory-field-asterisk">*</span></label>
                        </div>
                        <div class="col-md-12">
                            <quill-editor
                                    formControlName="description"
                                    class="description"
                                    [modules]="{
                                toolbar: [
                                  ['bold', 'italic', 'underline'],
                                  [{ list: 'ordered' }, { list: 'bullet' }],
                                  ['link']
                                ]
                              }"
                            ></quill-editor>
                        </div>
                    </div>
                    <div class="row errors" *ngIf="validationErrors.length > 0">
                        <div class="col-12 top-margin-x2">
                            <ul>
                                <li *ngFor="let error of validationErrors">{{error}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary mt-3" type="submit">Programma manutenzione</button>
                        </div>
                        <div class="col-md-12">
                            <button class="btn mt-3 btn-outline-warning" type="button" (click)="onCancel()">Cancella</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
