.MaintenanceAddComponent {
    input[name='dp'] {
        border-bottom: 1px solid gray;
    }

    .calendar {
        width: 2.75rem;
        background-size: 23px;
        background: url('/src/assets/icons/admin/png/calendar.png') no-repeat 50%;
        border: 1px solid gray;

        .inner{
            margin-left: -10px;
        }
    }

    .description {
        height: 180px;
        display: inline-block;
        width: 100%;
        margin: 10px 0 0 0;
    }

    .btn {
        width: 100%;
    }
}


