<div class="MapPoiDetails row" *ngIf="trailMappings.size > 0">
    <div class="top-margin col-12">
        <div class="row">
            <div class="col-md-8">
                <h1 class="poiCodeColumn" [ngClass]="selectedNotification.minor ? 'yellow-bg' : 'red-bg'">Problema di
                    percorribilità su sentiero {{
                    trailMappings.get(selectedNotification.trailId).code}}</h1>
            </div>
            <div class="col-md-2">
                <svg width="18" height="18" fill="white" class="inner clickable"
                     (click)="showInfoBasedOnMagnitude()">
                    <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#info-circle-fill"/>
                </svg>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span class="poiCodeColumn black">{{ selectedNotification.coordinates.altitude }}m</span>
            </div>
            <div class="col-md-8">
                <span class="poiCodeColumn">~
                    {{ selectedNotification.coordinates.latitude.toPrecision(6) }},
                    {{ selectedNotification.coordinates.longitude.toPrecision(6) }}</span>
            </div>
        </div>
    </div>
    <div *ngIf="selectedNotification" id="scrollable-content" class="col-12 top-margin">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ getImage(selectedNotification.description)}}" class="poi-image full-width" alt="poi-description"/>
                    </div>
                </div>
            </div>
            <div class="col-12 top-margin">
                <div class="row">
                    <div class="col-12">
                        <h4>Descrizione</h4>
                    </div>
                    <div class="col-12">
                        <div *ngIf="selectedNotification.description"
                             [innerHTML]="selectedNotification.description"></div>
                        <div *ngIf="!selectedNotification.description">Non ci sono info supplementari per questa
                            notifica
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h4>Riportato il</h4>
                    </div>
                    <div class="col-12">
                            <span class="clickable white-font trailCodeColumn">
                                {{ selectedNotification.reportDate | date }}
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>