<div class="row admin-menu">
    <div class="col-3">
        <label>Gestisci:</label>
    </div>
    <div class="col-2">
        <a routerLink="/admin/trails">
            <svg class="bi" width="32" height="32" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#map-fill" />
            </svg>
            <label>Sentieri</label>
        </a>
    </div>
    <div class="col-2">
        <a routerLink="/admin/accessibility">
            <svg class="bi" width="32" height="32" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#info-circle-fill" />
            </svg>
            <label>Percorribilità</label>
        </a>
    </div>
    <div class="col-3">
        <a routerLink="/admin/maintenance">
            <svg class="bi" width="32" height="32" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#calendar-week" />
            </svg>
            <label>Calendario manuntenzioni</label>
        </a>
    </div>
</div>