<div class="menu">
  <div class="menu__tabs">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active menu__tab-item" aria-current="page">
          <i class="bi bi-map-fill menu__tab-icon"></i>
          <label>Sentieri</label>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu__tab-item">
          <i class="bi bi-info-circle-fill menu__tab-icon"></i>
          <label>Percorribilità</label>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu__tab-item">
          <i class="bi bi-calendar-week menu__tab-icon"></i>
          <label>Calendario manuntenzioni</label>
        </a>
      </li>
    </ul>
  </div>
</div>
