<div class="col-12" id="map-full" [ngClass]="{'fixed' : isMobileView }">
    <div class="btn btn-primary btn-map" id="search-btn" (click)="onSearchClick.emit()">
        <button class="inner-btn">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#search"/>
            </svg>
        </button>
    </div>

    <div class="btn btn-primary btn-map" id="localize-me-btn" (click)="onGeolocaliseMeSelectionClick.emit()">
        <button class="inner-btn">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#cursor" *ngIf="userPosition == null"/>
                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#cursor-fill" *ngIf="userPosition != null"/>
            </svg>
        </button>
    </div>

    <div class="btn btn-primary btn-map" id="municipality-btn" (click)="onMunicipalitySelectionClick.emit()">
        <button class="inner-btn">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#house"/>
            </svg>
        </button>
    </div>

    <div class="btn btn-primary btn-map" id="terrain-btn" (click)="onTerrainChangeSelectionClick.emit()">
        <button class="inner-btn">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#layers"/>
            </svg>
        </button>
    </div>

    <div class="btn btn-primary btn-map" id="draw-itinerary-btn" (click)="onDrawItineraryClick.emit()">
        <button class="inner-btn">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#pencil" *ngIf="!isDrawMode"/>
                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#pencil-fill" *ngIf="isDrawMode"/>
            </svg>
        </button>
    </div>

    <!--  If draw mode is selected, show hints -->

    <div id="hint-space">
        <div>{{hint}}</div>
    </div>

</div>