<div class="container my-4">
    <app-menu-admin></app-menu-admin>
    <h1 class="space-up">Gestione segnalazioni percorribilità sentieri</h1>
    <h2>Aggiungi notifica di percorribilità legata a un sentiero</h2>
    <p>Compila i seguenti campi per aggiungere una notifica di percorribilità. Questa sarà mostrata quando l'utente
        visualizza il sentiero a cui essa è legata.</p>
    <div class="table-wrapper space-up">
        <form [formGroup]="formGroup" class="needs-validation" (ngSubmit)="onSaveNotification()">
            <div class="form-row">
                <div class="form-group col-md-4 mb-3">
                    <p>Sentiero interessato</p>
                    <div class="bootstrap-select-wrapper">
                        <select title="Scegli una opzione" formControlName="code" data-live-search="true"
                            data-live-search-placeholder="Cerca opzioni" class="form-control" id="trailId_select">
                            <option *ngFor="let tId of trailIds" value="{{tId}}">{{tId}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-4 mb-3">
                    <p>Data segnalazione</p>
                    <div class="input-group">
                        <input class="form-control" placeholder="dd/mm/yyyy" formControlName="reportDate" name="dp" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-10 mb-3">
                    <div>
                        <div class="form-check">
                          <input id="checkbox1" type="checkbox" formControlName="isMinor"  checked>
                          <label for="checkbox1">Aggirabile</label>
                        </div>
                      </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-3">
                    <p>Descrizione</p>
                    <input type="text" class="form-control" formControlName="description" placeholder="Descrizione">
                    <div class="invalid-feedback">Per favore inserisci una descrizione</div>
                </div>
            </div>
            <div class="form-row">
                <div *ngIf="previewCoords">
                    <app-location-entry [inputForm]="locationGroup" [trailCoordinates]="previewCoords" [isEditableLocation]="false" [i]="0">
                    </app-location-entry>
                </div>
            </div>

            <span class="form-group col-md-3 mb-3">
                <button class="btn btn-primary mt-3" type="submit">Aggiungi</button>
            </span>
            <span class="form-group col-md-3 mb-3">
                <a routerLink="/admin/accessibility">
                    <button class="btn btn-light mt-3" type="button">Cancella</button>
                </a>
            </span>
        </form>
    </div>
</div>