<div *ngIf="selectedTrail != null">
    <app-trail-floating-preview
            [trails]="[selectedTrail]"
            [isVisible]="isPreviewVisible"
            (onClose)="togglePreview()"
    ></app-trail-floating-preview>
</div>
<div class="MaintenanceFutureView">
    <app-loading-panel *ngIf="isLoaded"></app-loading-panel>
    <div class="row">
        <div class="col-12 col-md-12 space-up">
            <h2>Manutenzioni future</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button"
                    class="btn btn-primary"
                    routerLink="./add"
                    *ngIf="authService.isRealmMatch()">
                + Programma manutenzione
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-s-6">
            <div *ngIf="maintenanceListFuture.length > 0; else notShow">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Data</th>
                        <th scope="col">Codice Sentiero</th>
                        <th scope="col">Posto di Ritrovo</th>
                        <th scope="col">Descrizione</th>
                        <th scope="col">Contatto</th>
                        <th scope="col" *ngIf="authService.isRealmMatch()">Cancella</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let maintenance of maintenanceListFuture">
                        <th class="ellipsis small-column clickable" title="{{ maintenance.id }}"
                            (click)="copyId(maintenance.id)">
                            {{ maintenance.id }}
                        </th>
                        <td>{{ formatDate(maintenance.date) }}</td>
                        <td>
                          <span class="trailCodeColumn clickable " [ngClass]="{'btn-error': !isTrailCodeValid(maintenance)}"
                                (click)="showPreview(maintenance.trailId)">
                              {{getTrailCode(maintenance)}}
                          </span>
                        </td>
                        <td>{{ maintenance.meetingPlace }}</td>
                        <td class="ellipsis">
                            <span [innerHTML]="maintenance.description"></span>
                        </td>
                        <td>{{ maintenance.contact }}</td>
                        <td class="clickable" *ngIf="authService.isRealmMatch()">
                            <svg class="bi" width="24" height="24" fill="currentColor"
                                 (click)="onDeleteClick(maintenance)">
                                <use
                                        xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#trash"
                                />
                            </svg>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination-position">
                    <ngb-pagination
                            [pageSize]="entryPerPage"
                            [collectionSize]="totalEntries"
                            [(page)]="page"
                            aria-label="Default pagination"
                            (pageChange)="onLoadMaintenance(page)"
                    ></ngb-pagination>
                </div>
            </div>
            <ng-template #notShow>
                <app-items-not-found class="top-margin-x2"
                                     text="Nessuna manutenzione programmata trovata."></app-items-not-found>
            </ng-template>
        </div>
    </div>

</div>
