<div class="PlacePickerSelector">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Selettore di località georeferenziate da sistema</h4>
    </div>
    <div class="modal-body">
        <div class="list-of-georeferenced-places">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <ul>
                        <li *ngFor="let place of places; index as i"
                            class="choice"
                            [ngClass]="place == selectedPlace ? 'selected' : null"
                            (click)="onPlaceClick(place)">
                            {{ place.name }}
                            <div class="place-info" *ngIf="selectedPlace">
                                <table>
                                    <thead>
                                    <td>Distanza da crocevia</td>
                                    <td>Toponimi</td>
                                    <td>Inserito da</td>
                                    <td>Inserito sezione</td>
                                    </thead>
                                    <tr>
                                        <td>
                                            {{ distance }}
                                        </td>
                                        <td>
                                            {{selectedPlace.tags}}
                                        </td>
                                        <td>
                                            {{selectedPlace.recordDetails.uploadedBy}}
                                        </td>
                                        <td>
                                            {{selectedPlace.recordDetails.realm}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-12" *ngIf="this.trail">
                    <app-map-preview
                            [classPrefix]="'geolocation-preview'"
                            [markersCoordinates]="markers"
                            [isShowOtherBtnEnabled]="false"
                            [otherTrails]="otherTrails"
                            [index]="'-picker'"
                            [focusPoint]="selectedPlace ?
                            selectedPlace.coordinates[0] :
                            targetMarker.coords"
                            [showDistanceBetweenMarkers]="true"
                            [trailPreview]="trail"
                    ></app-map-preview>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button
                (click)="onSelect()"
                type="button"
                class="btn btn-outline-dark"

        >
            Seleziona
        </button>
        <button
                type="button"
                class="btn"
                (click)="activeModal.close('Close click')"
        >
            Cancella
        </button>
    </div>
</div>
