<div class="PlacePickerSelector">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Selettore di località georeferenziate da sistema</h4>
        <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="onCancelEvent()"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="list-of-georeferenced-places">
            <div class="row">
                <div class="col-6">
                    <ul>
                        <li *ngFor="let place of places; index as i"
                            [ngClass]="place == selectedPlace ? 'selected' : null"
                            (click)="onPlaceClick(place)">{{place.name}}</li>
                    </ul>
                </div>
                <div class="col-6" *ngIf="this.trail">
                    <app-map-preview
                            [classPrefix]="'geolocation-preview'"
                            [markersCoordinates]="[targetMarker, selectedMarker]"
                            [isShowOtherBtnEnabled]="false"
                            [otherTrails]="otherTrails"
                            [index]="'0'"
                            [focusPoint]="selectedPlace ?
                            selectedPlace.coordinates[0] :
                            targetMarker.coords"
                            [trailPreview]="trail"
                    ></app-map-preview>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button
                (click)="onSelect()"
                type="button"
                class="btn btn-outline-dark"

        >
            Seleziona
        </button>
        <button
                type="button"
                class="btn"
                (click)="activeModal.close('Close click')"
        >
            Cancella
        </button>
    </div>
</div>
