<div class="TrailConfirmModal">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">La località {{ locationName }} coincide con il crocevia '{{crossway.name}}'?</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                Il crocevia {{crossway.name}}, si trova a una distanza di {{distance}}m dalla località {{ locationName }} del sentiero {{trailCode}}.
                Questi coincidono?
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button
                (click)="onConfirm()"
                type="button"
                class="btn btn-outline-dark"

        >
            Si, autocompila la località
        </button>
        <button
                type="button"
                class="btn"
                (click)="onNotConfirm()"
        >
            No
        </button>
    </div>
</div>
