@import "../../style/const.scss";

.section-distance-up {
    margin-top: 20px;
}

.t-row { 
    transition:0.3s all;
}

.t-row:hover{
    background: #D04341;
    color: white;
    cursor: pointer;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: $action-btn-color;
    border-bottom: 2px solid $action-btn-color;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    color: $action-btn-color;
}