<div class="container" id="Development">
    <div class="row">
        <div class="col-12">
            <h1>Cos'è Hikit?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-8">
            <p>Hikit è una piattaforma software Open Source creata per rendere la fruizione e gestione di una rete
                sentieristica semplice e intuitiva, sviluppata da Lorenzo Verri in collaborazione con il
                <a target="_blank" href="https://caibo.it">CAI di Bologna</a>, il supporto di
                <a target="_blank" href="https://unaquantum.org">UnaQuantum</a> e di altri volontari.</p>
            <p>L'applicazione mette in primo piano i manutentori dei sentieri, che hanno la possibilità di gestire e
                manipolare una serie di dati legati ai sentieri, che spaziano dai punti d'interesse (POI), a problemi di
                percorribilità passando per località e bivi.</p>
            <p>In più, l'applicazione presenta un'interfaccia utente pensata per permettere la fruizione divertente e
                intuitiva di questi dati, attraverso una carta interattiva e una ricca modalità di esplorazione dei dati
                in essa presentati.</p>
        </div>
        <div class="offset-sm-0 offset-md-1 offset-lg-1 col-sm-12 col-md-4 col-lg-2">
            <img src="assets/hikit/hikit_360.webp" class="full-width" alt="hikit"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Sperimentazione</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <p>Una piattaforma di questo genere, anche per la sua natura Open Source, si presta sicuramente ad espansione e sperimentazione.</p>
            <p>Infinite possibilità risiedono dietro all'utilizzo di dati sentieristici, che con le loro diverse variabili, permettono di narrare un territorio, di pianificare itinerari di varia natura, di creare esperienze diverse e inclusive.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Sviluppare Hikit</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <p>Sviluppare un progetto di questo genere, è divertente e creativo - tecnicamente sfidante e impegnativo,
                perchè l'obiettivo è quello di creare un' "esperienza di prodotto", il quale deve avere un lungo ciclo di
                vita e si presta a un'evoluzione costante, marcata dalla sua community.</p>
            <p>Per farlo, puoi proporre idee, promuoverlo, collaborare al suo sviluppo informatico, e alla sua interfaccia!</p>
        </div>
    </div>
</div>