<div *ngIf="selectedTrail != null">
    <app-trail-floating-preview
            [trails]="[selectedTrail]"
            [isVisible]="isPreviewVisible"
            (onClose)="togglePreview()"
    ></app-trail-floating-preview>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-s-6">
            <h1>Calendario Manutenzioni</h1>
        </div>
        <div class="col-12 col-md-12 col-s-6">
            <p>
                Per partecipare alle uscite di sentieristica, serve compilare
                <a target="_blank" href="https://forms.gle/x3VG9NXmURdUaRVZ9">il modulo online</a> o contattare
                l'organizzatore e presentarsi
                al luogo di ritrovo. <br/>
                Si raccomandano abiti da lavoro e servono scarpe adatte.<br/>
                Le attrezzature saranno fornite dal CAI, comunque chi possiede guanti da lavoro, forbici/seghetto da potatore, vanga, zappa ed altri strumenti utili allo scopo
                può portarli con sé.<br/>
            </p>
        </div>
        <div class="col-12 col-md-12 col-s-6">
            <h2>Prossima/e manutenzioni</h2>
            <table *ngIf="maintenanceListFuture.length > 0; else notShowFuture" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Codice Sentiero</th>
                    <th scope="col" class="hide_on_md">Posto di Ritrovo</th>
                    <th scope="col" class="hide_on_md">Descrizione</th>
                    <th scope="col">Contatto</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let maintenance of maintenanceListFuture">
                    <td (click)="showDetails(maintenance)">{{ maintenance.date | date:'shortDate' }}</td>
                    <td><span class="trailCodeColumn clickable"
                              (click)="showPreview(maintenance.trailId)">{{ getTrailCode(maintenance.trailId, maintenance.trailCode) }}</span>
                    </td>
                    <td (click)="showDetails(maintenance)"
                        class="small-column hide_on_md">{{ maintenance.meetingPlace }}</td>
                    <td (click)="showDetails(maintenance)" class="text-truncate small-column hide_on_md clickable">
                        <span [innerHTML]="maintenance.description"></span>
                    </td>
                    <td (click)="showDetails(maintenance)">{{ maintenance.contact }}</td>
                </tr>
                </tbody>
            </table>
            <ng-template #notShowFuture>
                <p>Non ci sono manutenzioni future programmate</p>
            </ng-template>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-s-6">
            <h2>Manutenzioni oggi e passate</h2>
        </div>
        <div class="col-12 col-md-12 col-s-6">
            <table *ngIf="maintenanceListPast.length > 0; else notShowPast" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Codice Sentiero</th>
                    <th scope="col" class="hide_on_md">Posto di Ritrovo</th>
                    <th scope="col" class="hide_on_md">Descrizione</th>
                    <th scope="col">Contatto</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let maintenance of maintenanceListPast">
                    <td (click)="showDetails(maintenance)">
                        {{ maintenance.date | date:'shortDate' }}</td>
                    <td><span class="trailCodeColumn clickable"
                              (click)="showPreview(maintenance.trailId)">{{ getTrailCode(maintenance.trailId, maintenance.trailCode) }}</span>
                    </td>
                    <td (click)="showDetails(maintenance)"
                        class="small-column hide_on_md">{{ maintenance.meetingPlace }}</td>
                    <td (click)="showDetails(maintenance)"
                        class="text-truncate small-column hide_on_md"
                        [innerHTML]="maintenance.description">
                    </td>
                    <td (click)="showDetails(maintenance)">
                        {{ maintenance.contact }}</td>
                </tr>
                </tbody>
            </table>
            <ng-template #notShowPast>
                <p>Non ci sono altre manutenzioni passate</p>
            </ng-template>
        </div>
    </div>
</div>