<div *ngIf="selectedTrail != null">
    <app-trail-floating-preview
            [trails]="[selectedTrail]"
            [isVisible]="isPreviewVisible"
            (onClose)="togglePreview()"
    ></app-trail-floating-preview>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-s-6">
            <h1>Calendario Manutenzioni</h1>
            <h2>Prossimo/e {{totalFutureEntries}} manutenzioni</h2>
            <table *ngIf="maintenanceListFuture.length > 0; else notShowFuture" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Codice Sentiero</th>
                    <th scope="col" class="hide_on_md">Posto di Ritrovo</th>
                    <th scope="col" class="hide_on_md">Descrizione</th>
                    <th scope="col">Contatto</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let maintenance of maintenanceListFuture">
                    <td>{{ maintenance.date | date:'shortDate' }}</td>
                    <td><span class="trailCodeColumn clickable"
                              (click)="showPreview(maintenance.trailId)">{{ getTrailCode(maintenance.trailId, maintenance.trailCode) }}</span>
                    </td>
                    <td class="small-column hide_on_md">{{ maintenance.meetingPlace }}</td>
                    <td class="text-truncate small-column hide_on_md">
                        <span [innerHTML]="maintenance.description"></span>
                    </td>
                    <td>{{ maintenance.contact }}</td>
                </tr>
                </tbody>
            </table>
            <ng-template #notShowFuture>
                <p>Non ci sono manutenzioni future programmate</p>
            </ng-template>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-s-6">
            <h2>Manutenzioni oggi e passate</h2>
        </div>
        <div class="col-12 col-md-12 col-s-6">
            <table *ngIf="maintenanceListPast.length > 0; else notShowPast" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Codice Sentiero</th>
                    <th scope="col" class="hide_on_md">Posto di Ritrovo</th>
                    <th scope="col" class="hide_on_md">Descrizione</th>
                    <th scope="col">Contatto</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let maintenance of maintenanceListPast">
                    <td>{{ maintenance.date | date:'shortDate' }}</td>
                    <td><span class="trailCodeColumn clickable"
                              (click)="showPreview(maintenance.trailId)">{{ getTrailCode(maintenance.trailId, maintenance.trailCode) }}</span>
                    </td>
                    <td class="small-column hide_on_md">{{ maintenance.meetingPlace }}</td>
                    <td class="text-truncate small-column hide_on_md"
                        [innerHTML]="maintenance.description">
                    </td>
                    <td>{{ maintenance.contact }}</td>
                </tr>
                </tbody>
            </table>
            <ng-template #notShowPast>
                <p>Non ci sono altre manutenzioni passate</p>
            </ng-template>
        </div>
    </div>
</div>