@import "/src/app/style/const.scss";

.MapPoiDetails {
  .poiCodeColumn {
    width: fit-content;
    padding: 0 0.3em;
    background: $secondary-bg-color !important;
    color: white;
    border-radius: 5px;
  }

  .ert-logo {
    max-width: 200px;
  }

  .info {
    height: 400px;
    border-left: 2px solid $secondary-bg-color;
  }

  .scrollable-height {
    overflow-y: scroll;
  }

  .black {
    background: black !important;
  }

  .poi-image {
    width: 75%;
  }

  .keyValEntry {
    width: 100%;
    max-height: 30px;

    .key {
      text-transform: capitalize;
    }
  }

  ul {
    padding: 0;
  }

  .event-list {
    list-style: none;
    cursor: pointer;
    margin: 2px 0;
    font-family: "Fira Sans", sans-serif;
  }
}