@import "../../style/const.scss";

#header-wrapper-2 {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  box-shadow: -5px 0 15px black;
  border-top: 1px solid white;
}

.it-nav-wrapper-admin {
  .navbar .navbar-collapsable .navbar-nav li a.nav-link {
    padding: 0 0.5em;
    border-bottom: 0;
  }

  .separator {
    height: 20px;
  }

  .nav-item {
    height: auto;
  }

  ul {
    height: 20px;
  }
}
.it-header-center-wrapper{
  max-height: 40px;
}

.it-nav-wrapper-admin .it-header-center-wrapper {
  background: $primary-text-color;
  color: white;
  padding: 0;
}

.it-header-navbar-wrapper {
  background-color: $primary-text-color;
  padding: 0;
}

.it-header-navbar-wrapper a {
  color: white;
  padding: 0 9px 0 9px;
  font-size: $menu-secondary-font-size;
}

.trail-management-main {

  text-align: right;

  //.sub-menu {
  //  display: none;
  //  float: left;
  //  width: 100%;
  //  .nav-link {
  //    float:left;
  //  }
  //}
}

.nav-link {
  &.active {
    text-decoration: underline;
  }
}



.trail-management-main {
  a {
    &.active {
      text-decoration: underline;
    }
  }

  &.active {
    .sub-menu {
      display: inline;
    }
  }
}

.sub-menu {
  a {
    &.active {
      opacity: 1;
    }
  }
}
