<div *ngIf="userProfile != noProfile" class="it-nav-wrapper-admin" id="header-wrapper-2">
    <div class="it-header-center-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="it-header-wrapper">
                        <div class="it-brand-wrapper"></div>
                        <div class="it-right-zone">
                            <div class="it-header-navbar-wrapper">
                                <div class="container p-0">
                                    <div class="row">
                                        <div class="col-12">
                                            <nav class="navbar navbar-expand-lg has-megamenu">
                                                <div class="navbar-collapsable" id="nav10">
                                                    <div class="overlay"></div>
                                                    <div class="close-div sr-only">
                                                        <button class="btn close-menu" type="button">
                                                            <span class="it-close"></span>close
                                                        </button>
                                                    </div>
                                                    <div class="menu-wrapper">
                                                        <ul class="navbar-nav mr-auto">
                                                            <div class="align-middle">
                                                                <p class="no-padding" style="font-size:14px">Utente: {{userName}} - {{userProfileString}}</p>
                                                            </div>
                                                        </ul>
                                                        <ul class="navbar-nav ml-auto">
                                                            <li><a
                                                                    routerLink="/admin"
                                                                    routerLinkActive="active"
                                                                    class="nav-item nav-link"
                                                            >
                                                                Pannello
                                                            </a></li>
                                                            <span *ngIf="userProfile == profile.admin
                                                            || userProfile == profile.maintainer" class="separator">|</span>
                                                            <li *ngIf="userProfile == profile.admin
                                                                || userProfile == profile.maintainer">
                                                                <a
                                                                        routerLink="/admin/raw-trail-management"
                                                                        routerLinkActive="active"
                                                                        class="nav-item nav-link"
                                                                >
                                                                    Tracce
                                                                </a>
                                                            </li>
                                                            <li *ngIf="userProfile == profile.admin
                                                                || userProfile == profile.maintainer">
                                                                <a
                                                                        routerLink="/admin/trail-management"
                                                                        routerLinkActive="active"
                                                                        class="nav-item nav-link"
                                                                >
                                                                    Sentieri
                                                                </a>
                                                            </li>
                                                            <li *ngIf="userProfile == profile.admin
                                                                || userProfile == profile.maintainer
                                                                || userProfile == profile.contentCreator">
                                                                <a
                                                                        routerLink="/admin/place-management"
                                                                        routerLinkActive="active"
                                                                        class="nav-item nav-link"
                                                                >
                                                                    Località/Bivio
                                                                </a>
                                                            </li>
                                                            <li *ngIf="userProfile == profile.admin
                                                                || userProfile == profile.maintainer
                                                                || userProfile == profile.contentCreator">
                                                                <a
                                                                        routerLink="/admin/poi-management"
                                                                        routerLinkActive="active"
                                                                        class="nav-item nav-link"
                                                                >
                                                                    POI
                                                                </a>
                                                            </li>
                                                            <li *ngIf="userProfile == profile.admin
                                                                || userProfile == profile.maintainer">
                                                                <a
                                                                        routerLink="/admin/accessibility-management"
                                                                        routerLinkActive="active"
                                                                        class="nav-item nav-link"
                                                                >
                                                                    Percorribilità
                                                                </a>
                                                            </li>
                                                            <li *ngIf="userProfile == profile.admin
                                                                || userProfile == profile.maintainer
                                                                || userProfile == profile.casualVolunteer">
                                                                <a
                                                                        routerLink="/admin/maintenance-management"
                                                                        routerLinkActive="active"
                                                                        class="nav-item nav-link"
                                                                >
                                                                    Manutenzioni
                                                                </a>
                                                            </li>
                                                            <span *ngIf="userProfile == profile.admin || userProfile == profile.maintainer" class="separator">|</span>
                                                            <li *ngIf="userProfile == profile.admin
                                                                || userProfile == profile.maintainer
                                                                || userProfile == profile.casualVolunteer">
                                                                <a
                                                                        routerLink="/admin/announcement-management"
                                                                        routerLinkActive="active"
                                                                        class="nav-item nav-link"
                                                                >
                                                                    Annunci
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
