<div class="container" id="BugReporting">
    <div class="row">
        <div class="col-12">
            <h1>Riportare bug di Hikit</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <p>Hai trovato un bug cioè un comportamento anomalo? Argh. Imbarazzante.</p>
            <p>Per riportarlo puoi scrivere a <a href="mailto:support@sentieriecartografia.it">support@sentieriecartografia.it</a>
                , oppure, preferibilmente, <a href="https://github.com/SeC-Hikit/Hikit/issues/new">creare un bug sul
                    repo GitHub.</a>
                Per questa seconda opzione, ti servirà <a target="_blank" href="https://github.com/">creare un account GitHub</a>, se
                ancora non ne hai uno.</p>
            <p>In ambo i casi, riporta i seguenti punti nella tua segnalazione:</p>
            <ul>
                <li>Cosa stavi facendo quando l'anomalia si è presentata?</li>
                <li>Riporta l'orario (anche indicativo)</li>
                <li>Quale sarebbe il comportamento desiderato?</li>
                <li>Allega una o più foto/video del comportamento anomalo</li>
                <li>Quale dispositivo stavi utilizzando quando l'anomalia si è presentata</li>
            </ul>
            <p>Grazie per il tuo supporto!</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <img src="assets/cai/trekking/way.jpg" class="full-width" alt="way" />
        </div>
    </div>
</div>