<div class="it-nav-wrapper" id="header-wrapper">
    <div class="it-header-center-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="it-header-center-content-wrapper">
                        <div class="it-brand-wrapper">
                            <a href="#">
                                <img src="/assets/cai/cai_logo_slim.png" class="icon" />
                                <div class="it-brand-text">
                                    <h2 class="no_toc">CAI Bologna</h2>
                                    <h3 class="no_toc d-none d-md-block">Sentieri e Cartografia</h3>
                                </div>
                            </a>
                        </div>
                        <div class="it-right-zone">
                            <div class="it-header-navbar-wrapper">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <nav class="navbar navbar-expand-lg has-megamenu">
                                                <div class="navbar-collapsable" id="nav10">
                                                    <div class="overlay"></div>
                                                    <div class="close-div sr-only">
                                                        <button class="btn close-menu" type="button"><span
                                                                class="it-close"></span>close</button>
                                                    </div>
                                                    <div class="menu-wrapper">
                                                        <ul class="navbar-nav">
                                                            <a routerLink="/trails" routerLinkActive="active" class="nav-item nav-link">
                                                                Sentieri
                                                            </a>
                                                            <a routerLink="/map" routerLinkActive="active" class="nav-item nav-link">
                                                                Mappe
                                                            </a>
                                                            <a routerLink="/accessibility" routerLinkActive="active" class="nav-item nav-link">
                                                                Percorribilità
                                                            </a>
                                                            <a routerLink="/maintenance" routerLinkActive="active" class="nav-item nav-link">
                                                                Sentieristica
                                                            </a>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>