@import "../style/const.scss";

a {
  color: white;
}

.it-header-center-wrapper
  .it-header-center-content-wrapper
  .it-brand-wrapper
  a
  .icon {
  width: 72px;
  height: 62px;
}

.it-header-center-wrapper {
  height: 90px;
  width: 100%;
  margin: 0 auto;
}

.active {
  border-bottom: 2px solid white;
}

.it-header-center-wrapper,
.it-header-navbar-wrapper {
  background-color: $primary-bg-color;
}
