@import "../style/const.scss";

a {
  color: white;
}

.it-brand-text {
  h2, h3 {
    float: left;
  }

  h3 {
    margin-left: 10px;
  }
}

.it-brand-wrapper {
  #inst-icon {
    //width: 17%;
  }
}

.it-header-center-wrapper
.it-header-center-content-wrapper
.it-brand-wrapper
a
.icon {
  width: 72px;
  height: 50px;
}

.it-header-center-wrapper {
  height: 50px;
  width: 100%;
  margin: 0 auto;
}

.active {
  border-bottom: 2px solid white;
}

.it-header-center-wrapper,
.it-header-navbar-wrapper {
  background-color: $primary-bg-color;
}
