@import "../style/const.scss";

#main-menu {
  width: 100%;


  div {
    text-align: center;
  }
}

.menu-btn {
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.full-screen-menu{
  width: 100%;
  position: fixed;
  min-height: 500px;
  top: 60px;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: $primary-bg-color;

  div {
    text-align: center;
    margin: 1% 0 3% 0;

  }
  a {
    font-size: 32px;
  }

  a:hover {
    color: $action-btn-color;
  }

  .separator {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid white;
  }
}

.menu-btn:hover {
  color: $action-btn-color;
}

.hide-on-m-wider {
  display: none;
  @media only screen and (max-width: 1200px) {
    display: inline;
  }
}

.hide-on-m-small {
  display: none;
  @media only screen and (min-width: 1200px) {
    display: inline;
  }
}


.hide-on-wider {
  display: none;
  @media only screen and (max-width: 752px) {
    display: inline;
  }
}

.hide-on-small {
  display: none;

  @media only screen and (min-width: 752px) {
    display: inline;
  }
}

#header-wrapper {
  background: #0B2E20;
  padding-top: 3px !important;
  border-top: 1px solid white;
  height: inherit !important;

  .brand {
    margin-top: 3px;

    h2, h3 {
      margin-top: 5px;
    }

    .logo {
      width: 50px;
      height: 40px;
    }
  }

  .it-header-navbar-wrapper {
    a {
      margin-top: 5px;
    }
  }

  .navbar {
    margin: 0;
    padding: 0 0 0 50px;
  }
}

a {
  color: white;
}

.it-nav-wrapper h1, h2, h3, h4 {
  color: white;
}

.brand img, .brand .it-brand-text {
  float: left;
}


.it-brand-text {
  h2, h3 {
    float: left;
  }

  h3 {
    margin-left: 10px;
  }

  @media only screen and (max-width: 540px) {
    h3 {
      margin-top: 8px !important;
    }
  }

}

.it-brand-wrapper {
  #inst-icon {
    //width: 17%;
  }
}

.it-header-center-wrapper
.it-header-center-content-wrapper
.it-brand-wrapper
a
.icon {
  width: 50px;
  height: 40px;
}

.it-header-center-wrapper {
  height: 50px;
  width: 100%;
  margin: 0 auto;
}

.active {
  color: $action-btn-color;
}

.it-header-center-wrapper,
.it-header-navbar-wrapper {
  width: 100%;
  background-color: $primary-bg-color;
}
