<div class="container my-4">

    <div *ngIf="selectedTrail != null">
        <app-trail-floating-preview
                [trailCoordinates]="selectedTrail"
                [isVisible]="isPreviewVisible"
                (onClose)="togglePreview()"
        ></app-trail-floating-preview>
    </div>

    <div *ngIf="savedMaintenance">
        <div class="space-up alert alert-success" role="alert">
            Manutenzione per sentiero '{{ savedMaintenance }}' aggiunta
        </div>
    </div>
    <div class="row section-distance-up">
        <div class="col-12 col-md-12 col-s-6">
            <h1>Gestione calendario manutenzioni</h1>
            <button type="button" class="btn btn-primary" routerLink="./add">
                + Aggiungi manutenzione
            </button>
            <h2 class="section-distance-up">Prossimi incontri</h2>
            <div *ngIf="maintenanceListFuture.length > 0; else notShow">
                <table *ngIf="hasFutureLoaded" class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Data</th>
                        <th scope="col">Codice Sentiero</th>
                        <th scope="col">Posto di Ritrovo</th>
                        <th scope="col">Descrizione</th>
                        <th scope="col">Contatto</th>
                        <th scope="col">Cancella</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let maintenance of maintenanceListFuture">
                        <td class="ellipsis small-column" title="{{ maintenance.id }}">
                            {{ maintenance.id }}
                        </td>
                        <td>{{ formatDate(maintenance.date) }}</td>
                        <td>
                <span class="trailCodeColumn" (click)="showPreview(maintenance.trailId)">{{
                    getTrailCode(maintenance.trailId)
                    }}</span>
                        </td>
                        <td>{{ maintenance.meetingPlace }}</td>
                        <td>{{ maintenance.description }}</td>
                        <td>{{ maintenance.contact }}</td>
                        <td class="clickable" (click)="onDelete(maintenance)">
                            <svg class="bi" width="32" height="32" fill="currentColor">
                                <use
                                        xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#trash"
                                />
                            </svg>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <ng-template #notShow>
                <p>Non ci sono manutenzioni programmate al momento</p>
            </ng-template>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-s-6">
            <h2>Incontri Passati</h2>
            <table
                    *ngIf="hasPastLoaded; else notShow"
                    class="table table-striped"
            >
                <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Codice Sentiero</th>
                    <th scope="col">Posto di Ritrovo</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Contatto</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let maintenance of maintenanceListPast">
                    <td scope="row">{{ formatDate(maintenance.date) }}</td>
                    <td scope="row">
              <span class="trailCodeColumn">{{
                  getTrailCode(maintenance.trailId)
                  }}</span>
                    </td>
                    <td>{{ maintenance.meetingPlace }}</td>
                    <td>{{ maintenance.description }}</td>
                    <td>{{ maintenance.contact }}</td>
                </tr>
                </tbody>
            </table>
            <ng-template #notShow>
                <p>Non ci sono altre manutenzioni passate</p>
            </ng-template>
        </div>
    </div>
</div>
