@import "/src/app/style/const.scss";

.ReportingForm {
  .disclaimer {
    padding-top: 20px;
    font-size: 14px;
  }

  .red-text {
    color: 24-bg-color;
  }

  .btn-primary {
    width: 100%;
  }

  .btn-complete {
    margin-bottom: 20px;
  }

  .row {
    margin: 0;
  }
}