<app-loading-spinner *ngIf="!hasLoaded || isLoading"></app-loading-spinner>
<div class="container ReportingForm">
    <form [formGroup]="formGroup" (ngSubmit)="this.onSubmit()">
        <div class="row">
            <div class="col-12 col-md-12">
                <h1>Segnala in base al sentiero</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label>Seleziona il sentiero per il quale vuoi effettuare una segnalazione</label>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <label>Lista Sentieri <span class="mandatory-field-asterisk">*</span></label>
                        <div>
                            <select (change)="selectTrail($event)"
                                    class="form-control"
                                    formControlName="trailId"
                                    title="Scegli una opzione">
                                <option
                                        *ngFor="let trailPreview of trailPreviews"
                                        [value]="trailPreview.id"
                                >
                                    {{ trailPreview.code }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div *ngIf="hasLoaded" class="col-12 top-margin">
                        <label>Problema riscontrato <span class="mandatory-field-asterisk">*</span></label>
                        <div class="col-12">
                            <select *ngIf="selectIssueCause != 'Altro'" title="Scegli un'opzione"
                                    formControlName="cause"
                                    class="form-control"
                                    (change)="selectIssue($event)"
                            >
                                <option
                                        *ngFor="let foundIssue of foundIssues"
                                        value="{{ foundIssue }}"
                                >
                                    {{ foundIssue }}
                                </option>
                            </select>
                        </div>
                        <div class="col-12" *ngIf="selectIssueCause == 'Altro'">
                            <input type="text" maxlength="100"
                                   class="form-control"
                                   (change)="setNoteIssue($event)"
                                   placeholder="Specifica una causa. Massimo 100 caratteri">
                        </div>
                    </div>
                    <div class="col-md-12 top-margin-x2">
                        <h3>Località</h3>
                    </div>
                    <div class="col-md-12">
                        <div *ngIf="hasLoaded">
                            <div *ngIf="trail">
                                <app-report-location-entry
                                        (onChangePosition)="onSlidingPositionChange($event)"
                                        [focusPoint]="specifiedPosition"
                                        [classPrefix]="'choice'"
                                        [isEditableLocation]="true"
                                        [trail]="trail"
                                        [inputForm]="position"
                                        [markers]="mapMarkers"
                                        [i]="0"
                                        [title]="''"
                                        [isShowPositionCoords]="false"
                                ></app-report-location-entry>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top-margin-x2">
                    <div class="col-12 col-md-12">
                        <div>
                            <h2>Le tue info</h2>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div>
                            <label>Indirizzo email <span class="mandatory-field-asterisk">*</span></label>
                            <input type="email" class="form-control"
                                   formControlName="email"
                                   placeholder="email@esempio.com">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div>
                            <label for="exampleFormControlInput1">Telefono</label>
                            <input type="tel" class="form-control"
                                   formControlName="telephone"
                                   id="exampleFormControlInput1">
                        </div>
                    </div>
                </div>

                <div class="row errors" *ngIf="errors.length > 0">
                    <div class="col-12 top-margin-x2">
                        <ul>
                            <li *ngFor="let error of errors">{{error}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row disclaimer">
                    Cliccando il pulsante 'Invia Segnalazione' acconsenti a condividere i tuoi contatti con CAI Bologna. I tuoi dati verranno usati solo per verifica informatica e per eventuali richieste di chiarimento rispetto alla criticità segnalata.
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 top-margin-x2">
                        <button type="button" class="btn btn-primary btn-complete" (click)="onSubmit()">Invia segnalazione</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
