<div class="MobileTrailPreview">
    <div class="row">
        <div class="col-3"
        >
            <h1 class="trailCodeColumn trailCodeColumn-fit trailCodeColumnColor">{{ trail.code }}</h1>
        </div>

        <div class="col-8 offset-1 smaller-font">
            <p>{{ trail.startLocation.name | ellipsis }}   - {{ trail.endLocation.name | ellipsis }}</p>
        </div>

    </div>

    <div class="row margin-up">
        <div class="col-1 text-center">
            <svg id="people-icon" width="24" height="24">
                <use
                        xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#arrow-left-right"
                />
            </svg>
        </div>
        <div class="col-2 mobile-preview-text"
        >
            {{ getDistance() }}m
        </div>
        <div class="col-1 offset-1 text-center"
        >
            <svg id="people-icon" width="24" height="24">
                <use
                        xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#arrow-down-up"
                />
            </svg>
        </div>
        <div class="col-2">
            <div class="row">
                <div class="col-12 mobile-preview-text-small-top">
                    {{ trail.statsTrailMetadata.totalRise }}m
                </div>
            </div>
            <div class="row">
                <div class="col-12 mobile-preview-text-small-bottom">
                    {{ trail.statsTrailMetadata.totalFall }}m
                </div>
            </div>
        </div>
        <div class="col-1 offset-1 text-right">
            <svg id="clock-icon" width="24" height="24">
                <use
                        xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#clock-fill"
                />
            </svg>
        </div>
        <div class="col-2 text-left mobile-preview-text-small"
        >
            <span>{{ trail.officialEta != 0 ? (trail.officialEta | etaShort) : (trail.statsTrailMetadata.eta | etaShort) }}</span>
        </div>
    </div>

</div>