<div class="MapPoiDetails row">
    <div class="top-margin col-12">
        <div class="row">
            <div class="col-md-8">
                <h1 class="poiCodeColumn">{{ selectedPoi.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="poiCodeColumn black">{{ selectedPoi.coordinates.altitude }}m</span>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ getImage(selectedPoi.macroType, selectedPoi.microType)}}" class="poi-image full-width"/>
            </div>
        </div>
    </div>
    <div *ngIf="selectedPoi" id="scrollable-content" class="col-12 top-margin">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h4>Descrizione</h4>
                    </div>
                    <div class="col-12">
                        <div *ngIf="selectedPoi.description" [innerHTML]="selectedPoi.description"></div>
                        <div *ngIf="!selectedPoi.description">Non ci sono info supplementari per questo punto
                            d'interesse
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="selectedPoi.externalResources.length > 0">
                <div class="row">
                    <div class="col-12">
                        <h4>Risorse esterne</h4>
                    </div>
                    <div class="col-12" *ngFor="let externalResource of selectedPoi.externalResources ">
                        <a [href]="externalResource" target="_blank">
                            <span class="clickable white-font trailCodeColumn">
                                {{externalResource | extRes }}
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 top-margin" *ngIf="selectedPoi.tags.join(', ') != ''">
                <div class="row">
                    <div class="col-12">
                        <h4>Toponimi</h4>
                    </div>
                    <div class="col-12">
                        <p>{{ selectedPoi.tags.join(", ") }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="selectedPoi.keyVal.length > 0">
                <div class="row">
                    <div class="col-12">
                        <h4>Attributi</h4>
                    </div>
                    <div class="col-12">
                        <div class="row keyValEntry" *ngFor="let keyVal of selectedPoi.keyVal">
                            <div class="col-6 key">
                                <p>{{ keyVal.key }}</p>
                            </div>
                            <div class="col-6">
                                <p>{{ keyVal.value }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 top-margin">
                <div class="row">
                    <div class="col-12">
                        <h4>Sentieri collegati</h4>
                    </div>
                </div>
                <span *ngFor="let trailId of selectedPoi.trailIds" class="clickable white-font trailCodeColumn"
                      (mouseenter)="onRelatedTrailHover(trailId)"
                      (mouseout)="onRelatedTrailHover(null)"
                      (click)="navigateToTrail(trailId)">
                    {{getNameOrCode(trailId)}}
                </span>
            </div>
        </div>
    </div>
</div>