<div class="container LandingPage">
    <div class="row">
        <div class="col-12 top-margin-x2">
            <svg class="bi right-fix clickable align-bottom delete" width="56"
                 height="56" fill="currentColor">
                <use
                        xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#mailbox"
                />
            </svg>
        </div>

        <div class="col-12 top-margin-x2">
            Grazie per il tuo aiuto!
        </div>
        <div class="col-12 top-margin">
            Ti abbiamo <b>inviato una mail</b>, all'indirizzo fornito, <b>con un link per confermare la tua segnalazione</b>.
        </div>
    </div>
</div>
