<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-s-12">
            <h1>Escursionismo</h1>
        </div>
        <div class="col-12 col-md-6 col-s-6">
            <p>La Rete escursionistica Italiana, ricchissima di storia e di vita, è una delle più ampie d’Europa; <b>il
                Club
                Alpino Italiano ne stima la consistenza in circa 170.000km</b> sebbene fino ad ora ne siano stati
                censiti
                110.000-120.000km.
            </p>
            <p>
                Questo immenso patrimonio
                culturale che attraversa e accomuna <b>Alpi, Appennini, fiumi, coste ed Isole</b> è liberamente a
                dispisizione
                di chi pratica
                l’“andar-per-monti”, cioè a coloro che nel tempo sono diventati i principali fruitori dei percorsi, nati
                in origine per esigenze vitali
                di mobilità e lavoro.</p>
            <p>
                Il Regolamento Generale del Club Alpino Italiano stabilisce infatti che il Sodalizio faciliti “la
                diffusione della frequentazione della montagna e delle escursioni, anche in forma collettiva, costruendo
                e mantenendo in efficienza strutture ricettive e sentieri”, mentre per la legge il CAI deve provvedere
                “al tracciamento, alla realizzazione e alla manutenzione di sentieri, opere alpine e attrezzature
                alpinistiche”.</p>
        </div>

        <div class="col-5 col-md-5 offset-1 col-s-12">
            <img class="img-fluid" src="/assets/cai/trekking/crossing.jpg" alt="crossing">
        </div>

        <div class="col-12 col-md-12 col-s-6">
            <h2 id="classification">Classificazione</h2>
        </div>
        <div class="col-12 col-md-5">
            <h2 class="trailCodeColumn">T = Turistico</h2>
            <h3>CARATTERISTICHE</h3>
            <p>
                Percorsi su carrarecce, mulattiere o evidentisentieri che non pongono incertezze o problemi di
                orientamento, con modeste pendenze e dislivelli contenuti.
            </p>
            <h3>ABILITA’ E COMPETENZE</h3>
            <p>
                Richiedono conoscenze escursionistiche di base e preparazione fisica alla camminata.
            </p>
            <h3>ATTREZZATURA</h3>
            <p>Sono comunque richiesti adeguato abbigliamento e calzature adatte.</p>
        </div>
        <div class="col-12 col-md-5 offset-md-1">
            <h2 class="trailCodeColumn">E = Escursionistico</h2>
            <h3>CARATTERISTICHE</h3>
            <p>
                Percorsi che rappresentano la maggior parte degli itinerari escursionistici, quindi tra i più vari per
                ambienti naturali. <br> Si svolgono su mulattiere, sentieri e talvolta tracce; su terreno diverso per
                contesto
                geomorfologico e vegetazionale (es. pascoli,sottobosco, detriti, pietraie). <br/>
                Sono generalmente segnalati e possono presentare tratti ripidi.<br/> Si possono incontrare facili
                passaggi su roccia, non esposti, che
                necessitano l’utilizzo delle mani per l’equilibrio.<br/>
                Eventuali punti esposti sono in genere protetti. Possono attraversare zone pianeggianti o
                poco inclinate su neve residua.
            </p>
            <h3>ABILITA’ E COMPETENZE</h3>
            <p>
                Richiedono senso di orientamento ed esperienza escursionistica e adeguato allenamento.
            </p>
            <h3>ATTREZZATURA</h3>
            <p>È richiesto idoneo equipaggiamento con particolare riguardo alle calzature.</p>
        </div>
        <div class="col-12 col-md-5">
            <h2 class="trailCodeColumn">EE = Escursionistico Esperti</h2>
            <h3>CARATTERISTICHE</h3>
            <p>
                Percorsi quasisempre segnalati che richiedono capacità di muoversi lungo sentieri e tracce su terreno
                impervio e/o infido (pendii ripidi e/o scivolosi di erba, roccette o detriti sassosi), spesso instabile
                e
                sconnesso. <br/> Possono presentare tratti esposti, traversi, cenge o tratti rocciosi con lievi
                difficoltà
                tecniche
                e/o attrezzati, mentre sono escluse le ferrate propriamente dette.<br/> Si sviluppano su pendenze
                medio‐alte.
                Può essere necessario l’attraversamento di trattisu neve, mentre sono esclusi tutti i percorsisu
                ghiacciaio.
            </p>
            <h3>ABILITA’ E COMPETENZE</h3>
            <p>
                Necessitano di ottima esperienza escursionistica, capacità di orientamento, conoscenza delle
                caratteristiche dell’ambiente montano, passo sicuro e assenza di vertigini, capacità valutative e
                decisionali
                nonché di preparazione fisica adeguata. </p>
            <h3>ATTREZZATURA</h3>
            <p>Richiedono equipaggiamento e attrezzatura adeguati all’itinerario programmato.</p>
        </div>
        <div class="col-12 col-md-5 offset-md-1">
            <h2 class="trailCodeColumn">EEA = Escursionistico Esperti con Attrezzature</h2>
            <h3>CARATTERISTICHE</h3>
            <p>
                Per ferrata si intende un itinerario i cui trattisu roccia sono appositamente attrezzati con strutture
                metalliche: cavi, catene, scale, pediglie e staffe, che ne facilitano e consentono la progressione.
                Prevedono l’uso dei dispositivi di protezione individuali certificati secondo le normative vigenti
                (imbragatura,
                kit da ferrata e casco) e una adeguata preparazione tecnica.
                Sono segnalate alla partenza da apposita tabella e rispettano precisi criteri costruttivi e normativi.
            </p>
            <h3>ABILITA’ E COMPETENZE</h3>
            <p>Richiede preparazione fisica e tecnica con la capacità di ottimizzare appoggi e appigli per non
                affaticare gli arti
                superiori.</p>
            <h3>ATTREZZATURA</h3>
            <p>Dispositivi di protezione individuale, materiale alpinistico.</p>
        </div>

        <div class="col-6 col-md-4 col-s-12">
            <img class="img-fluid" src="/assets/cai/trekking/way.jpg" alt="way">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-s-6">
            <h2 id="tips-for-hikers">Consigli per i camminatori</h2>
        </div>
        <div class="col-md-5">
            <h3 class="trailCodeColumn">Allenamento</h3>
            <p>Sebbene camminare sia una pratica innata, farlo in salita in condizioni climatiche e morfologiche diverse
                da quelle abituali, comporta uno sforzo a volte elevato che mette alla prova l’apparato scheletrico,
                cardiocircolatorio e respiratorio e consuma molte calorie in particolare in condizioni di scarso
                allenamento tipiche di chi fa vita normalmente sedentaria.
            </p>
            <p>Un <b>allenamento</b> insufficiente aumenta l’impegno fisico costringendo l’organismo a produrre
                l'energia
                necessaria mediante il metabolismo anaerobico che utilizza prevalentemente gli zuccheri consentendo
                sforzi elevati ma brevi mentre il cammino in montagna implica sforzi medio bassi di lunga durata. Per
                questo è fondamentale mantenere un buon grado di allenamento che consenta di diminuire il consumo di
                energia sviluppando adattamenti cardiocircolatori, muscolari e respiratori che permettano di tollerare
                lo sforzo per tempi più lunghi. Il miglior risultato possibile per il vostro corpo può essere ottenuto
                con esercizi sistematici quotidiani in cui l'intensità e la durata dello sforzo vengano aumentati
                gradualmente, mantenendoci sempre al di sotto della soglia anaerobica (quando, durante il cammino,
                facciamo fatica a parlare). A queste condizioni il cammino è amico della nostra salute mantenendo sano
                l'apparato cardiovascolare sebbene in discesa affatichi articolazoni e legamenti. Fortunatamente a
                questo inconveniente si può porre rimedio mediante l'uso appropriato dei bastoncini da trekking
                (meglio solo in discesa).</p>
        </div>
        <div class="col-md-5 offset-md-1">
            <h3 class="trailCodeColumn">Alimentazione</h3>
            <p>Quando camminiamo in montagna dobbiamo garantire all’organismo il giusto apporto sia energetico che di
                liquidi: procedere in salita comporta un notevole dispendio calorico (in forte pendenza a media velocità
                si consumano fino a dieci volte più calorie che in piano!).
            </p>
            <p>Il consumo è poi influenzato anche dal
                nostro peso, da quello dello zaino, dalla velocità e dal grado di allenamento. Se l’attività si limita a
                uscite sporadiche, non occorrerà un’alimentazione particolare per reintegrare la totalità delle calorie
                consumate: al termine dell’escursione, sarà sufficiente un buon pasto per ricostituire le riserve e
                mantenere il bilancio energetico. Per i partecipanti ad un trekking di più giornate sarà invece
                necessaria maggiore attenzione: oltre all’allenamento dobbiamo avere una colazione ben bilanciata tra
                liquidi (latte o altre bevande vegetali, tè..), carboidrati complessi (come pane, pasta, fette
                biscottate) e frutta e, durante l’attività assumere piccole quantità di acqua e cibo come barrette o
                frutta secca evitando il senso di sete e fame. Un breve spuntino in vetta consente poi di recuperare
                liquidi, sali minerali e calorie: l’assunzione di cibi a base di proteine può essere tranquillamente
                rimandata alla cena, per reintegrare le perdite da usura muscolare. Poiché il fabbisogno di liquidi,
                aumenta sensibilmente durante l’attività escursionistica, anche per effetto della quota è importante
                assumere acqua a temperatura ambiente ogni 30/60 minuti al massimo anche se non si sente la sete,
                infatti i sintomi della disidratazione sono già presenti anche in mancanza di sensazione di sete ed il
                problema aumenta con l’avanzare dell’età. Durante l'attività si perdono anche modeste quantità di sali
                minerali ed elettroliti, per reintegrarli possiamo mescolare all'acqua un “integratore” semplice ed
                economico: 1 litro di acqua o tè, infuso, succo di limone, 5 g di sale e 6 cucchiaini di zucchero.</p>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h3 class="trailCodeColumn">Scarpe e abbigliamento</h3>
                <p>Per camminare è fondamentale la scelta delle scarpe, che si dividono principalmente in due categorie:
                    <b>scarpe basse</b> o <b>scarponi con cavigliera alta</b>. <br/>
                    La scelta dipende dalle condizioni delle proprie
                    caviglie e dalla tipologia di ambiente che si vuole affrontare. Le scarpe basse sono spesso meglio
                    ammortizzate e consentono alla caviglia di allenarsi, quelle alte danno maggiore stabilità e
                    proteggono meglio dai sassi ma sono più dure.<br/> In ogni caso devono essere comode, resistenti ed
                    affidabili, con la suola in gomma scolpita tipo “Vibram” e la parte superiore traspirante ed
                    impermeabile.<br/> Poiché le scarpe nuove possono riservare delle sorprese (vesciche) è prudente
                    usare
                    scarpe già rodate di misura almeno mezza taglia in più (il piede tende a gonfiarsi durante il
                    cammino).<br/>
                    L’abbigliamento dipende dalla stagione in cui svolgiamo l’attività escursionistica
                    maggiormente isolante termico in inverno, più leggero e traspirante in estate. In ogni caso dagli
                    indumenti a contatto con la pelle verso quelli più esterni vestirsi a strati tutti traspiranti per
                    consentire la fuoruscita dell'umidità corporea. In caso di caldo si ripongono gli strati esterni
                    nello zaino, se è freddo si indossano uno sopra l'altro.<br/>
                    I migliori tessuti tecnici sono quelli in
                    polipropilene e lana merinos; quelli in poliestere hanno una buona traspirazione ma fanno cattivo
                    odore malgrado i trattamenti igenizzanti, sconsigliato il cotone che assorbe il sudore, non traspira
                    e non si asciuga. Lo strato più interno è quello intimo a contatto con la pelle compresi cuffia per
                    la testa e calzini, devono essere morbidi per non irritare e traspiranti per mantenere la pelle
                    asciutta. il successivo composto da calzamaglia e maglia termiche si usa in inverno o alta quota per
                    mantenere costante la temperatura del corpo, quando è caldo si evita la calzamaglia e si usano
                    maglie con coefficente termico minore e maniche corte. lo strato più esterno è costituito da
                    pantaloni, meglio lunghi e giaccavento anch'essi traspiranti ma di tessuto più robusto per
                    proteggere il corpo da cadute, piante spinose, insetti od altro e dotati di tasche chiudibili con
                    cerniere. Per gli strati intermedi si consigliano capi in pile.<br/>
                    In ogni caso se si vuole che il corpo possa traspirare tutti gli strati devono essere traspiranti.
                    <br/>
                    Anche un solo strato di cotone blocca la traspirazione. </p>
            </div>
            <div class="col-md-5 offset-md-1">
                <h3 class="trailCodeColumn">Lo zaino</h3>
                <p>È la nostra riserva di spazio per riporre gli oggetti quando non li usiamo.<br/>
                    Gli zaini si distinguono
                    principalmente per la capacità di carico (in volume, espresso in litri).<br/> <b>25 l per un
                        giorno</b>;
                    almeno 30-35l per più giorni; per le donne si considerano di norma 5 l in meno.
                    <br/>
                    Il suo peso a pieno carico non dovrebbe mai superare il 10% del peso corporeo nelle escursioni
                    giornaliere,
                    fino al 20% per quelle di più giorni.<br/>
                    Scegliamo possibilmente un prodotto ergonomico e con le giuste imbottiture per
                    i punti di maggior contatto con il corpo in particolare per distanziare e arieggiare la schiena e
                    conservarla asciutta. <br/>
                    Molto importante che gli spallacci siano larghi per distribuire il peso e le
                    due cinture anteriori per legarlo sul petto ed in vita, che devono essere a sgancio rapido. Tutte le
                    cinghie devono essere regolabili.<br/>
                    Nello zaino abbigliamento non in uso, da pioggia, da ricambio, guanti, cappello, occhiali da sole
                    acqua, cibo, crema solare, kit di primo soccorso, sacco lenzuolo (per pernottare in rifugio),
                    lampada frontale, bastoncini ecc.</p>
            </div>
        </div>
    </div>
</div>