<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-s-12">
            <h1>Escursionismo</h1>
        </div>
        <div class="col-12 col-md-6 col-s-6">
            <p>La rete sentieristica italiana, ricchissima di storia e di vita, è una delle più ampie d’Europa; il Club
                Alpino Italiano ha selezionato circa 60mila chilometri di sentieri di questo immenso patrimonio
                culturale che attraversa e accomuna Alpi, Appennini e Isole e lo propone a chi pratica
                l’“andar-per-monti”, cioè a coloro che nel tempo sono diventati i principali fruitori dei sentieri.</p>
            <p>
                Il Regolamento Generale del Club Alpino Italiano stabilisce infatti che il Sodalizio faciliti “la
                diffusione della frequentazione della montagna e delle escursioni, anche in forma collettiva, costruendo
                e mantenendo in efficienza strutture ricettive e sentieri”, mentre per la legge il CAI deve provvedere
                “al tracciamento, alla realizzazione e alla manutenzione di sentieri, opere alpine e attrezzature
                alpinistiche”.</p>
        </div>

        <div class="col-5 col-md-5 offset-1 col-s-12">
            <img class="img-fluid" src="/assets/cai/trekking/crossing.jpg"  alt="crossing">
        </div>

        <div class="col-12 col-md-12 col-s-6">
            <h2>Classificazione</h2>
        </div>
        <div class="col-12 col-md-5">
            <h2>Turistico</h2>
            <p>
                Itinerario di ambito locale su carrarecce, mulattiere o evidenti sentieri. Si sviluppa nelle immediate
                vicinanze di paesi, locali-tà turistiche, vie di comunicazione e rive-ste particolare interesse per
                passeggiate facili di tipo culturale o turistico-ricrea-tivo. Nella scala di difficoltà CAI è
                classificato T - itinerario escursionistico-turistico.
            </p>
        </div>
        <div class="col-12 col-md-5 offset-md-1">
            <h2>Escursionistico</h2>
            <p>
                Sentiero privo di difficoltà tecniche che corrisponde in gran parte a mulattiere realizzate per scopi
                agro - silvo - pastorali, militari o a sentieri di accesso a rifugi o di collegamento fra valli. E’ il
                tipo di sentiero maggiormente presente sul territorio e più frequentato e rappresenta il 75% degli
                itinerari dell’intera rete sentieristica organizzata. Nella scala delle difficoltà escursionistiche CAI
                è classificato “E” - itinerario escursionistico privo di difficoltà tecniche.
            </p>
        </div>
        <div class="col-12 col-md-5">
            <h2>Alpinistico</h2>
            <p>
                Sentiero che si sviluppa in zone impervie con passaggi che richiedono all’escursionista una buona
                conoscenza della mon-tagna, tecnica di base e un equipaggia-mento adeguato. Corrisponde generalmente a
                un itinerario di traversata nella montagna medio alta e può presentare dei tratti attrezzati - sen-tiero
                attrezzato - con infissi (funi cor-rimano e brevi scale) che però non sna-turano la continuità del
                percorso. Nella scala di difficoltà CAI è classificato EE – itinerario per escursionisti esperti.
            </p>
        </div>
        <div class="col-12 col-md-5 offset-md-1">
            <h2>Attrezzato</h2>
            <p>
                Itinerario che conduce l’alpinista su pareti rocciose o su aeree creste e cenge, preventivamente
                attrezzate con funi e/o scale senza le quali il procedere costituirebbe una vera e propria arrampicata.
                Richiede adeguata preparazione ed attrezzatura quale casco, imbrago e dissipatore. Nella scala di
                difficoltà CAI è classificato EEA - itinerario per escursionisti esperti con attrezzatura.
            </p>
        </div>
        <div class="col-6 col-md-4 col-s-12">
            <img class="img-fluid" src="/assets/cai/trekking/way.jpg">
        </div>
    </div>
</div>