<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-s-12">
            <h1>Dati e condizioni di utilizzo del sito</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-s-12">
            <h2>Generale</h2>
            <p>
            Questo sito "Sentieri & Cartografia" è un servizio gratuito aperto a tutti.<br/>
            Esso fa un utilizzo divulgativo di vari tipologie di dati collezionati
            e messi a disposizione dai soci volontari del Club Alpino Italiano, Sezione di Bologna. Inoltre, esso aggrega dati da siti
            terzi, come quello del <a href="https://emiliaromagnaturismo.it/it" target="_blank">Turismo Emilia-Romagna</a>, e altri.
            Se non diversamente indicato, i dati presenti sul sito sono coperti da licenza CC BY-NC-SA 4.0.
            </p>
            <h2>Aggiornamento dei dati</h2>
            <p>
                I soci volontari rilevano tracce, criticità, documentano il territorio e svolgono un'instancabile opera di manutenzione di esso, con il supporto
                della sezione, delle amministrazioni comunali e l'eventuale disponibilità di fondi.<br/>
                I dati vengono quindi aggiornati con la frequenza con cui essi vengono resi disponibili in una logica di "massimo" sforzo, da parte
                di un'organizzazione di volontari.<br/>
                Da questi dati, alcuni metadati sono dedotti con sistemi informatici che, pur utilizzando tecnologia all'avanguardia,
                potrebbero presentare errori.<br/>
                Il servizio è offerto a titolo gratuito e in nessun modo il Club Alpino Italiano potrà essere ritenuto responsabile per un dato errato o una descrizione fuorviante.
            </p>
            <h2>Fruizione dei dati</h2>
            <p>I dati del Club Alpino presenti su questo sito possono essere liberamente fruiti attraverso la presente
                interfaccia. <br/> Inoltre, essi possono essere ricondivisi e utilizzati per fini personali, come da licenza CC BY-NC-SA 4.0.</p>
                Quando utilizzi i dati presenti sul sito, ripubblicandoli o condividendoli è fatto obbligo di menzionare il Club Alpino come
            fonte di essi e
            <p>Nel caso avessi interesse di usarli per fini commerciali, saremmo felici di discuterne la possibilità e le modalità.
                Contattaci all'indirizzo: support@sentieriecartografia.it, oppure chiama la segreteria della sezione.
            </p>
        </div>
    </div>
</div>