<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-s-12">
            <h1>Dati e condizioni di utilizzo del sito</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-s-12">
            L'applicazione Sentieri & Cartografia fa un utilizzo divulgativo di vari tipi di dati collezionati
            e messi a disposizione del Club Alpino Italiano.
            Se non diversamente indicato i dati presenti sul sito sono però
        </div>
    </div>
</div>