<div class="MapComponent" (window:resize)="adaptSize()">
    <div *ngIf="isLoading" class="progress progress-indeterminate">
        <span class="sr-only">Caricamento...</span>
        <div class="progress-bar" role="progressbar"></div>
    </div>
    <div class="row">

        <div *ngIf="sideView=='POI' && selectedPoi"
             class="navigation-back clickable" (click)="onBackToTrailPoiClick()">
            <svg class="bi pulse" width="24" height="24" fill="#D04341">
                <use
                        xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#arrow-left-short"/>
            </svg>
            <span class="back">Torna al sentiero {{selectedTrail.code}}</span>
        </div>

        <div *ngIf="sideView=='TRAIL'"
             class="navigation-back clickable" (click)="showTrailList()">
            <svg class="bi pulse" width="24" height="24" fill="#D04341">
                <use
                        xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#arrow-left-short"/>
            </svg>
            <span class="back">Torna alla lista sentieri</span>
        </div>

        <div class="column-map col-lg-4 col-md-4 white details functional-column" id="side-column">
            <div class="row">
                <div class="col-11 offset-1" id="trail-detail-column"
                     [class]="sideView == 'TRAIL' || sideView == 'POI' ? 'selection-margin' : ''">
                    <div *ngIf="sideView=='NONE' || sideView=='TRAIL_LIST'" class="row search-section top-margin-x2">
                        <div class="col-11">
                            <app-search-input placeholder="Cerca per codice sentiero, nome o località (e.g: 100)"
                                              (onChange)="onSearchKeyPress($event)">
                            </app-search-input>
                        </div>
                    </div>

                    <div *ngIf="sideView=='POI' && selectedPoi" class="row top-margin">
                        <app-poi-details
                                [selectedPoi]="selectedPoi"
                                [trailMappings]="trailMappings"
                                (onSelectTrail)="onSelectTrail($event)"
                        ></app-poi-details>
                    </div>

                    <div *ngIf="sideView=='NONE'">
                        <div class="row align-middle">
                            <div class="col-md-12">
                                <p>Per iniziare, naviga la mappa, ricerca un sentiero, oppure consulta la <span
                                        class="clickable"
                                        (click)="showTrailList()">lista di sentieri del {{sectionName}}</span>
                                </p>
                            </div>
                            <div class="col-md-12 top-margin-x2">
                                <div class="row">
                                    <div class="map-icon offset-md-3 offset-sm-0"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="sideView=='TRAIL_LIST'" class="top-margin">
                        <app-map-trail-list
                                [trailsPreviewList]="trailPreviewList"
                                (onSelectTrail)="onSelectTrail($event)"
                        >
                        </app-map-trail-list>
                        <div class="pagination-position" *ngIf="trailPreviewList.length > 0">
                            <ngb-pagination
                                    [pageSize]="maxTrailEntriesPerPage"
                                    [collectionSize]="trailPreviewCount"
                                    [(page)]="trailPreviewPage"
                                    [size]="'sm'"
                                    [ellipses]="true"
                                    aria-label="Default pagination"
                                    (pageChange)="loadTrailPreview($event)"
                            ></ngb-pagination>
                        </div>
                    </div>
                    <div *ngIf="sideView=='TRAIL'" class="top-margin">
                        <app-map-trail-details
                                [selectedTrail]="selectedTrail"
                                [selectedTrailPois]="selectedTrailPois"
                                [trailNotifications]="selectedTrailNotifications"
                                [selectedTrailMaintenances]="selectedTrailMaintenances"
                                [connectedTrails]="connectedTrails"
                                [isCycloSwitchOn]="isCycloToggled"
                                [isPoiLoaded]="isPoiLoaded"
                                (onDownloadGpx)="onDownloadGpx()"
                                (onDownloadKml)="onDownloadKml()"
                                (onDownloadPdf)="onDownloadPdf()"
                                (toggleFullTrailPageEvent)="toggleFullPageTrail()"
                                (toggleNotificationListEvent)="toggleNotificationsModal()"
                                (onNavigateToLocation)="navigateToLocation($event)"
                                (onSelectTrail)="onSelectTrail($event)"
                                (onNavigateToSelectedTrailCoordIndex)="navigateToSelectedTrailIndex($event)"
                                (onNavigateToTrailReportIssue)="navigateToTrailReportIssue($event)"
                                (onSelectedNotification)="onFocusOnNotification($event)"
                                (onMaintenanceClick)="onMaintenanceClick($event)"
                                (onToggleModeClick)="onToggleMode()"
                                (onPoiClickEvent)="onPoiClick($event)"
                                (onPoiHoveringEvent)="onPoiHovering($event)"
                                (onShowTrailClassificationCycloInfo)="onShowCyclingClassification()"
                                (onShowTrailClassificationHikingInfo)="onShowHikingClassification()"
                                (onHighlightTrail)="onHighlightTrail($event)"
                        >
                        </app-map-trail-details>
                    </div>
                </div>
            </div>

        </div>

        <!--  Map Column  -->
        <div class="column-map col-lg-8 col-md-8">
            <app-map-full id="map-full-container"
                          [selectedTrail]="selectedTrail"
                          [selectedTrailNotification]="selectedTrailNotifications"
                          [selectedTrailIndex]="selectedTrailIndex"
                          [tileLayerName]="selectedTileLayer"
                          [trailList]="trailList"
                          [pois]="selectedTrailPois"
                          [startingZoomLevel]="zoomLevel"
                          [userPosition]="userPosition"
                          [showTrailCodeMarkers]="showTrailCodeMarkers"
                          [poiHovering]="poiHovering"
                          [trailHovering]="highlightedTrail"
                          [highlightedLocation]="highlightedLocation"
                          (onViewChange)="geoLocateTrails($event)"
                          (onTrailClick)="onSelectTrail($event)"
                          (onNotificationClick)="onFocusOnNotification($event)"
                          (onZoomChange)="onZoomChange($event)"
                          (onLoading)="onLoading()"
                          (onDoneLoading)="onDoneLoading()"
                          (onPoiClick)="onPoiClick($event)"
            >
            </app-map-full>
        </div>
    </div>
</div>