.relative-map {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#map-full-container {
    width: 100%;
}

#absolute-wrapper {
    position: absolute;
    width: 100%;
}

.column-map {
    padding: 1%;
    padding-bottom: 0;
    z-index: 1;
    max-height: 100px;
}

.functional-column {
    min-height: 750px;
}

.active {
    background-color: gray !important;
}

.hide { 
    visibility: hidden !important;
}

.hideaway {
    display: none;
}

.showHideButtons .btn-group-toggle .btn {
    margin: 0 1%;
}

.pulse {
    animation: pulse-animation 1s infinite alternate-reverse;
}

@keyframes pulse-animation {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }

  .tooltip-c * {
      font-size: 18px !important;
  }