@import "../style/const.scss";

footer .it-footer { display: none !important; }

@media (max-width: 767px) {
  .MapComponent {
    margin-top: 54px;
  }
}

.MapComponent {

  .navigation-back {
    width: 100%;
    position: absolute;
    margin: 0;
    z-index: 1;
    padding: 1%;
    box-shadow: 0 5px 5px white;
    background: white;
    height: 50px;
  }
    .column-map {
        padding: 0;
    }
  .selection-margin {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .clickable {
    color: $primary-bg-color;
    font-weight: bold;
  }

  .btn-secondary {
    background: $secondary-bg-color !important;
  }

  .clickable:hover {
    color: $primary-text-color;
    font-weight: bold;
  }


  .progress {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
  }

  .absolute-wrapper {
    position: absolute;
  }

  .progress-bar {
    background-color: $error-color;
  }

  #side-column {
    overflow-y: scroll;
    position: relative;

    .align-middle {
      margin: 10% 0 0 0;
    }

    .search-section {

      .search-box {
        border: 1px solid black;
      }
    }
  }

  .control {

    position: relative;
    width: 100%;

    .features {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.pulse {
  animation: pulse-animation 1s infinite alternate-reverse;
}

@keyframes pulse-animation {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
