<div class="MapComponent">
    <!--    <div class="row relative-map" id="relative-map">-->


    <!--        <div [ngClass]="{ 'hideaway' : !isTrailFullScreenVisible }">-->
    <!--            <app-map-trail-full [selectedTrail]="selectedTrail" [trailNotifications]="trailNotifications"-->
    <!--                                [lastMaintenance]="lastMaintenance"-->
    <!--                                (isVisibleEvent)="toggleFullPageTrail()"-->
    <!--                                (toggleNotificationModalEvent)="toggleNotificationsModal()"-->
    <!--                                (onDownloadBinaryEvent)="onDownloadBinary()"-->
    <!--                                (onLoading)="onLoading()"-->
    <!--                                (onDoneLoading)="onDoneLoading()"-->
    <!--            >-->
    <!--            </app-map-trail-full>-->
    <!--        </div>-->

    <!--        <div class="control">-->
    <!--            <div class="features">-->
    <!--                <div class="btn-group btn-group-toggle" data-toggle="buttons">-->
    <!--                    <label (click)="changeTileLayer('topo')" class="btn btn-light"-->
    <!--                           [ngClass]="{'active': selectedTileLayer == 'topo' }">-->
    <!--                        <input autocomplete="off" checked id="option1" name="options" type="radio">Topo</label>-->
    <!--                    <label (click)="changeTileLayer('geopolitic')" class="btn btn-light"-->
    <!--                           [ngClass]="{'active': selectedTileLayer == 'geopolitic' }">-->
    <!--                        <input autocomplete="off" id="option2" name="options" type="radio">Geopolitica</label>-->
    <!--                    <label (click)="changeTileLayer('geopolitic2')" class="btn btn-light"-->
    <!--                           [ngClass]="{'active': selectedTileLayer == 'geopolitic2' }">-->
    <!--                        <input autocomplete="off" id="option3" name="options" type="radio">Viabilità</label>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--            &lt;!&ndash;  &ndash;&gt;-->
    <!--            <div class="features">-->
    <!--                <div class="btn-group-toggle" data-toggle="buttons">-->
    <!--                    &lt;!&ndash;                    <label (click)="toggleAllTrails()" class="btn btn-light" placement="bottom"&ndash;&gt;-->
    <!--                    &lt;!&ndash;                           ngbTooltip="Mostra/nascondi sentieri" tooltipClass="tooltip-c"&ndash;&gt;-->
    <!--                    &lt;!&ndash;                           [ngClass]="{ 'active' : isAllTrailVisible }">&ndash;&gt;-->
    <!--                    &lt;!&ndash;                        <svg class="bi" width="24" height="24" fill="currentColor">&ndash;&gt;-->
    <!--                    &lt;!&ndash;                            <use xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#eye"/>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                        </svg>&ndash;&gt;-->
    <!--                    &lt;!&ndash;                    </label>&ndash;&gt;-->
    <!--                    <label (click)="toggleUserPosition()" class="btn btn-light" placement="bottom"-->
    <!--                           ngbTooltip="Mostra la tua posizione" tooltipClass="tooltip-c"-->
    <!--                           [ngClass]="{ 'active' : isUserPositionToggled }">-->
    <!--                        <svg class="bi" width="24" height="24" fill="currentColor">-->
    <!--                            <use xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#geo-fill"/>-->
    <!--                        </svg>-->
    <!--                    </label>-->
    <!--                    <label (click)="toggleList()" class="btn btn-light" placement="bottom"-->
    <!--                           ngbTooltip="Mostra/nascondi lista sentieri" tooltipClass="tooltip-c"-->
    <!--                           [ngClass]="{ 'active' : isTrailListVisible }">-->
    <!--                        <svg class="bi" width="24" height="24" fill="currentColor">-->
    <!--                            <use xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#list-ol"/>-->
    <!--                        </svg>-->
    <!--                    </label>-->
    <!--                </div>-->
    <!--            </div>-->
    <div class="row">
        <div class="column-map col-lg-4 col-md-4 white details functional-column">
            <div class="row">
                <div class="col-12" *ngIf="isLoading" class="progress progress-indeterminate">
                    <span class="sr-only">Caricamento...</span>
                    <div class="progress-bar" role="progressbar"></div>
                </div>
                <div class="col-11 offset-1" id="trail-detail-column">
                    <app-map-trail-details [selectedTrail]="selectedTrail"
                                           [trailNotifications]="trailNotifications"
                                           [lastMaintenance]="lastMaintenance"
                                           (onDownloadBinaryEvent)="onDownloadBinary()"
                                           (toggleFullTrailPageEvent)="toggleFullPageTrail()"
                                           (toggleNotificationListEvent)="toggleNotificationsModal()"
                                           (onNavigateToLocation)="navigateToLocation($event)">
                    </app-map-trail-details>
                </div>
            </div>

        </div>

        <!--  Map Column  -->

        <div class="column-map col-lg-8 col-md-8">
            <app-map-full id="map-full-container"
                          [selectedTrail]="selectedTrail"
                          [tileLayerName]="selectedTileLayer"
                          [trailList]="trailList"
                          [startingZoomLevel]="zoomLevel"
                          [userPosition]="userPosition"
                          [highlightedLocation]="highlightedLocation"
                          (onViewChange)="geoLocateTrails($event)"
                          (onTrailClick)="selectTrails($event)"
                          (onZoomChange)="onZoomChange($event)"
                          (onLoading)="onLoading()"
                          (onDoneLoading)="onDoneLoading()">
            </app-map-full>
        </div>
        <!--        <div class="column-map col-12 col-md-3 showHideButtons">-->
        <!--        </div>-->
        <!--        <div class="column-map col-12 col-md-3 column-hike-title white functional-column" id="trail-list-column"-->
        <!--             [ngClass]="{ 'hide' : !isTrailListVisible }">-->
        <!--            <app-map-trail-list [trailsPreviewList]="trailPreviewList" (selectCodeEvent)="loadTrail($event)">-->
        <!--            </app-map-trail-list>-->
        <!--        </div>-->

    </div>
</div>