@import "../style/const.scss";

.MapComponent {

  .progress {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
  }

  .absolute-wrapper {
    position: absolute;
  }

  .progress-bar {
    background-color: $error-color;
  }

  #trail-detail-column {
    overflow-y: scroll;
  }

  .control {

    position: relative;
    width: 100%;
    .features {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      .btn-group-toggle {

      }
    }
  }

  //.relative-map {
  //
  //  #absolute-wrapper {
  //    position: relative;
  //  }
  //
  //  position: relative;
  //  width: 0;
  //  float: left;
  //  z-index: 2;
  //}

}
//
//#map-full-container {
//  margin: 20px 0 0 0;
//  border-top: 3px solid $secondary-bg-color;
//}
//
//
//
//.column-map {
//  padding: 1%;
//  padding-bottom: 0;
//  z-index: 1;
//  max-height: 100px;
//}
//
//.functional-column {
//  min-height: 750px;
//}
//
//.active {
//  background-color: gray !important;
//}
//
//.hide {
//  visibility: hidden !important;
//}
//
//.hideaway {
//  display: none;
//}
//
//.showHideButtons .btn-group-toggle .btn {
//  margin: 0 1%;
//}

.pulse {
  animation: pulse-animation 1s infinite alternate-reverse;
}

@keyframes pulse-animation {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

