<div class="MapComponent">
    <div *ngIf="isLoading" class="progress progress-indeterminate">
        <span class="sr-only">Caricamento...</span>
        <div class="progress-bar" role="progressbar"></div>
    </div>
    <div class="row">
        <div class="column-map col-lg-4 col-md-4 white details functional-column" id="side-column">
            <div class="row">
                <div class="col-11 offset-1" id="trail-detail-column">
                    <div *ngIf="sideView!='TRAIL'" class="row search-section top-margin-x2">
                        <div class="col-11">
                            <input type="text" class="search-box"
                                   placeholder="Cerca per codice sentiero (e.g: 100)"
                                   (keyup)="onSearchKeyPress($event)"
                            >
                        </div>
                    </div>

                    <div *ngIf="sideView!='TRAIL'" class="row top-margin">
                        <div class="custom-control custom-switch col-12">
                            <span class="col-lg-11 offset-lg-1 col-md-10 offset-md-2 col-xs-4 offset-xs-8">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       [defaultChecked]="isCycloToggled"
                                       (change)="toggleCycloOption()"
                                       id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1">Cicloturismo</label>
                            </span>
                        </div>
                    </div>

                    <div *ngIf="sideView=='NONE'">
                        <div class="row align-middle">
                            <div class="col-md-12">
                                <p>S&C v0.5</p>
                                <p>Per iniziare, naviga la mappa, ricerca un sentiero, oppure consulta la <span
                                        class="clickable"
                                        (click)="showTrailList()">lista di sentieri del {{sectionName}}</span>
                                </p>
                            </div>
                            <div class="col-md-12">
                                <div class="map-icon"></div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="sideView=='TRAIL_LIST'" class="top-margin">
                        <app-map-trail-list
                                [trailsPreviewList]="trailPreviewList"
                                (selectCodeEvent)="onSelectTrail($event)"
                        >
                        </app-map-trail-list>
                        <div class="pagination-position">
                            <ngb-pagination
                                    [pageSize]="maxTrailEntriesPerPage"
                                    [collectionSize]="trailPreviewCount"
                                    [(page)]="trailPreviewPage"
                                    [size]="'sm'"
                                    [ellipses]="true"
                                    aria-label="Default pagination"
                                    (pageChange)="loadTrailPreview($event)"
                            ></ngb-pagination>
                        </div>
                    </div>
                    <div *ngIf="sideView=='TRAIL'" class="top-margin">
                        <div class="navigation-back clickable" (click)="showTrailList()">
                            <svg class="bi pulse" width="24" height="24" fill="#D04341">
                                <use
                                        xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#arrow-left-short"/>
                            </svg>
                            <span class="back">
                            Vai a lista sentieri
                            </span>
                        </div>
                        <app-map-trail-details
                                [selectedTrail]="selectedTrail"
                                [trailNotifications]="selectedTrailNotifications"
                                [lastMaintenance]="lastMaintenance"
                                [isCycloSwitchOn]="isCycloToggled"
                                (onDownloadGpx)="onDownloadGpx()"
                                (onDownloadKml)="onDownloadKml()"
                                (onDownloadPdf)="onDownloadPdf()"
                                (toggleFullTrailPageEvent)="toggleFullPageTrail()"
                                (toggleNotificationListEvent)="toggleNotificationsModal()"
                                (onNavigateToLocation)="navigateToLocation($event)"
                                (onNavigateToSelectedTrailCoordIndex)="navigateToSelectedTrailIndex($event)"
                                (onNavigateToTrailReportIssue)="navigateToTrailReportIssue($event)"
                        >
                        </app-map-trail-details>
                    </div>
                </div>
            </div>

        </div>

        <!--  Map Column  -->

        <div class="column-map col-lg-8 col-md-8">
            <app-map-full id="map-full-container"
                          [selectedTrail]="selectedTrail"
                          [selectedTrailIndex]="selectedTrailIndex"
                          [tileLayerName]="selectedTileLayer"
                          [trailList]="trailList"
                          [startingZoomLevel]="zoomLevel"
                          [userPosition]="userPosition"
                          [showTrailCodeMarkers]="showTrailCodeMarkers"
                          [highlightedLocation]="highlightedLocation"
                          (onViewChange)="geoLocateTrails($event)"
                          (onTrailClick)="onSelectTrail($event)"
                          (onZoomChange)="onZoomChange($event)"
                          (onLoading)="onLoading()"
                          (onDoneLoading)="onDoneLoading()">
            </app-map-full>
        </div>
        <!--        <div class="column-map col-12 col-md-3 showHideButtons">-->
        <!--        </div>-->
        <!--        <div class="column-map col-12 col-md-3 column-hike-title white functional-column" id="trail-list-column"-->
        <!--             [ngClass]="{ 'hide' : !isTrailListVisible }">-->
        <!--            <app-map-trail-list [trailsPreviewList]="trailPreviewList" (selectCodeEvent)="loadTrail($event)">-->
        <!--            </app-map-trail-list>-->
        <!--        </div>-->

    </div>
</div>