<div class="entry space-up" [formGroup]="inputForm">
  <h4>{{title}} #{{ i | increaseOne }}</h4>
  <div class="form-row" *ngIf="isEditableLocation">
    <div class="form-group col-md-4 mb-3">
      <p>Nome</p>
      <input type="text" formControlName="name" placeholder="Es: Rasora" />
    </div>
    <div class="form-group col-md-4 mb-3">
      <p>Altri nomi - separati da una virgola</p>
      <input
        type="text"
        formControlName="tags"
        class="form-control"
        placeholder="Es: ..."
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 map-container">
      <div
        class="arrow-left arrow-control btn actionable white-fill"
        *ngIf="isEditableLocation" (click)="onPrevPoint()"
      >
        <svg class="bi" width="32" height="32" fill="currentColor">
          <use
            xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#arrow-left-circle-fill"
          />
        </svg>
      </div>
      <app-map-preview
        [classPrefix]="classPrefix"
        [index]="i | increaseOne"
        [trailPreview]="trail"
        [elementAt]="selectedCoordinateIndex"
        [isShowOtherTrailsEnabled]="false"
        [markersCoordinates]="markers"
      ></app-map-preview>
      <div
        class="arrow-right arrow-control btn actionable white-fill"
        *ngIf="isEditableLocation" (click)="onNextPoint()"
      >
        <svg class="bi" width="32" height="32" fill="currentColor">
          <use
            xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#arrow-right-circle-fill"
          />
        </svg>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isEditableLocation">
    <div class="col-md-12">
      <input
        type="range"
        value="{{ selectedCoordinateIndex }}"
        min="0"
        max="{{ trail.coordinates.length - 1 }}"
        class="form-control"
        (change)="onSliderMoved($event.target.value)"
        required
      />
    </div>
  </div>
  <div class="row" *ngClass="{ collapse: true }">
    <div class="form-row">
      <div class="form-group col-md-3 mb-3">
        <p>Latitudine</p>
        <input
          type="text"
          formControlName="latitude"
          disabled
          class="form-control"
          required
        />
      </div>
      <div class="form-group col-md-3 mb-3">
        <p>Longitudine</p>
        <input
          type="text"
          formControlName="longitude"
          disabled
          class="form-control"
          required
        />
      </div>
      <div class="form-group col-md-3 mb-3">
        <p>Altitudine</p>
        <input
          type="text"
          formControlName="altitude"
          disabled
          class="form-control"
          required
        />
      </div>
      <div class="form-group col-md-3 mb-3">
        <p>Distanza dalla partenza</p>
        <input
          type="text"
          formControlName="distanceFromTrailStart"
          disabled
          class="form-control"
          required
        />
      </div>
    </div>
  </div>
</div>
