<div class="AccessibilityAdd">
    <app-menu-management></app-menu-management>
    <h2>Aggiungi notifica di percorribilità legata a un sentiero</h2>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

    <div class="table-wrapper space-up">
        <form
                [formGroup]="formGroup"
                class="needs-validation"
                (ngSubmit)="onSaveNotification()"
        >
            <div class="row">
                <div class="col-12 top-margin">
                    <p>Sentiero interessato <span class="mandatory-field-asterisk">*</span></p>
                </div>
                <div class="col-12">
                    <select
                            title="Scegli una opzione"
                            formControlName="trailId"
                            data-live-search="true"
                            data-live-search-placeholder="Cerca opzioni"
                            (change)="onSelectedTrail($event)"
                            id="trailId_select"
                    >
                        <option *ngFor="let trailMapping of trailMappings"
                                [value]="trailMapping.id">
                            {{ trailMapping.code }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row top-margin">
                <div class="col-12">
                    <p>Data segnalazione <span class="mandatory-field-asterisk">*</span></p>
                </div>
                <div class="input-group">
                    <input
                            class="form-control"
                            placeholder="dd/mm/yyyy"
                            formControlName="reportDate"
                            name="dp"
                            ngbDatepicker
                            #d="ngbDatepicker"
                    />
                    <div class="input-group-append">
                        <button
                                class="btn btn-outline-secondary calendar"
                                (click)="d.toggle()"
                                type="button"
                        >
                            <svg width="24" height="24" fill="white" class="inner">
                                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#calendar"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row top-margin">
                <div>
                    <div class="form-check">
                        <input
                                id="checkbox1"
                                type="checkbox"
                                formControlName="isMinor"
                        />
                        <label ngbTooltip="Indica se il percorso è comunque percorribile"
                               for="checkbox1">{{ this.formGroup.get("isMinor").value ? "Aggirabile" : "Non aggirabile"}}</label>
                    </div>
                </div>
            </div>
            <div class="row top-margin">
                <div class="col-md-12 col-lg-12">
                    <label>Descrizione <span class="mandatory-field-asterisk">*</span></label>
                    <quill-editor
                            [formControlName]="'description'"
                            [className]="'description'"
                            [modules]="{
                toolbar: [
                  ['bold', 'italic', 'underline'],
                  [{ list: 'ordered' }, { list: 'bullet' }],
                  ['link']
                ]
              }"
                    ></quill-editor>
                </div>
            </div>
            <button class="btn btn-outline-secondary" (click)="toggleLatLng($event)">
                📍 Mostra/nascondi controllo coordinate
            </button>
            <div [class]="(this.shouldShowLatLng ? '' : 'hidden') + ' latLngBg'">
                <div class="row top-margin" *ngIf="hasFormBeenInitialized">
                    <div class="col-md-12 col-lg-6">
                        <label>Latitude</label>
                        <input type="text" required [formControlName]="'coordLatitude'">
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <label>Longitude</label>
                        <input type="text" required [formControlName]="'coordLongitude'">
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <label>Altitude</label>
                        <input type="text" disabled required [formControlName]="'coordAltitude'">
                    </div>
                </div>
                <button class="full-width btn btn-primary top-margin" (click)="localizeGivenCoordinates($event)">
                    Geolocalizza e rileva altitudine per le coordinate date
                </button>
            </div>
            <div class="row top-margin-x2" *ngIf="hasFormBeenInitialized">
                <div class="col-md-12 col-lg-12">
                    <p>Seleziona un punto sulla mappa, nei pressi del sentiero <span
                            class="mandatory-field-asterisk">*</span></p>
                    <span class="target">
                    <app-map-preview
                            [trailPreview]="this.selectedTrails[0]"
                            [classPrefix]="'selector'"
                            [isShowOtherBtnEnabled]="false"
                            [isShowFitToShapeBtnEnabled]="false"
                            [markersCoordinates]="markers"
                            [showOtherTrails]="true"
                            (onClick)="onMapClick($event)"
                    ></app-map-preview>
                    </span>
                </div>
            </div>
            <div class="row errors" *ngIf="validationErrors.length > 0">
                <div class="col-12 top-margin-x2">
                    <ul>
                        <li *ngFor="let error of validationErrors">{{error}}</li>
                    </ul>
                </div>
            </div>
            <div class="row top-margin-x2">
                <div class="col-12">
                    <button class="btn btn-primary">Salva notifica di percorribilità</button>
                </div>
                <div class="col-12">
                    <button routerLink="/admin/accessibility-management"
                            class="btn btn-outline-warning full-width top-margin">
                        Torna alla gestione notifiche
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
