@import "../../style/const.scss";

.menu {
  line-height: 1.2;
  width: 100%;

  .nav {
    overflow: hidden;
    float: right;
  }

  &__tab-icon {
    margin-right: 5px;
  }


  .nav-link {
    margin: 5px 5px 0 5px;
    padding: 0.3em;
    background-color: $action-btn-color;
    color: 24-text-color;
    
    label : {
      color : 24-text-color;
      font-weight: 100;
      font-size: $menu-secondary-font-size;
    }


    &.active {
      color: $primary-bg-color;

      label {
        color: $primary-bg-color;
      }
    }
  }

  label {
    cursor: pointer;
  }

}

.nav-tabs .nav-link{
  font-weight: 100;
}
