<div class="MobileTrailPreview">
    <div class="row">
        <div class="col-9"
        >
            <h1 class="trailCodeColumn trailCodeColumn-fit trailCodeColumnColor">
                <span class="arrow-back"
                      (click)="onNavigateToTrailClick(previouslySelectedTrail.id)">
                    ⬅
                </span> {{ place.name | ellipsis }}</h1>
        </div>
        <div class="col-1 offset-1"
        >
            <svg *ngIf="place.crossingTrailIds.length > 1" class="bi" width="24" height="24"
                 fill="currentColor">
                <use
                        xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#signpost-2-fill"/>
            </svg>
        </div>
        <div class="col-1">
            <svg class="bi pulse clickable" width="24" height="24" fill="#D04341"
                 (click)="onNavigateToLocation.emit({coordinates: place.coordinates[0], isTogglePreview: false})">
                <use
                        xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#binoculars-fill"/>
            </svg>
        </div>
    </div>

    <div class="row margin-up">
        <div class="col-2 text-center">
            {{
            place.coordinates[0].latitude.toPrecision(6) + ", " +
            place.coordinates[0].longitude.toPrecision(6)
            }}
        </div>

        <div class="col-9 offset-1">
            <div>Sentieri collegati</div>
            <span *ngFor="let trailId of place.crossingTrailIds.slice(0, 3)"
                  (click)="onNavigateToTrail.emit({ id: trailId, refresh: true,
                  switchView: true, zoomIn: true})"
                  class="clickable white-font trailCodeColumn">
            {{ getNameOrCode(trailId) }}
        </span>
        </div>
    </div>
</div>