<div class="PoiAddComponent">
    <app-loading-spinner
            *ngIf="!this.isTrailListLoaded || !this.isTrailLoaded || this.isLoading "></app-loading-spinner>
    <div class="space-up">
        <div class="row">
            <div class="col-sm-12">
                <h2>
                    {{ this.isModify ? "Modifica" : "Aggiungi"}}
                    punto d'interesse</h2>
            </div>
        </div>
        <form [formGroup]="formGroup" (ngSubmit)="processModule()">
            <div class="row top-margin-x2" [ngClass]="isModify ? '' : 'hidden'">
                <div class="col-md-12 c1ol-lg-6">
                    <label>ID <span class="mandatory-field-asterisk">*</span></label>
                    <input type="text" disabled="disabled" formControlName="id"/>
                </div>
            </div>
            <div class="row top-margin-x2" *ngIf="hasFormBeenInitialized">
                <div class="col-md-12 col-lg-6 top-margin">
                    <label>Nome <span class="mandatory-field-asterisk">*</span></label>
                    <input type="text" formControlName="name"/>
                </div>
                <div class="col-md-12 col-lg-6 top-margin">
                    <label>Toponimi alternativi (separati da una virgola)</label>
                    <input type="text" formControlName="tags"/>
                </div>
            </div>
            <div class="row top-margin-x2" *ngIf="isTrailLoaded">
                <div class="col-12">
                    <label>Macro Tipo <span class="mandatory-field-asterisk">*</span></label>
                    <select
                            title="Scegli un'opzione"
                            class="form-control"
                            formControlName="macroType"
                            (change)="onMacroSelection($event)"
                    >
                        <option *ngFor="let macroChoice of macroChoices"
                                [value]="macroChoice.value">{{macroChoice.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row top-margin-x2" *ngIf="hasFormBeenInitialized">
                <div class="col-12">
                    <label>Micro Tipi</label>
                </div>
            </div>
            <div class="row top-margin"
                 *ngFor="let microType of microTypes.controls; index as i">
                <select
                        title="Scegli un'opzione"
                        class="form-control col-11"
                        [formControl]="this.getMicroType(i)"
                        (change)="this.setMicroType($event, i)">
                    <option *ngFor="let microChoice of microChoices"
                            [value]="microChoice.value">{{microChoice.name}}</option>
                </select>
                <div class="col-1" *ngIf="microTypes.controls.length > 1">
                    <svg class="bi right-fix clickable align-bottom delete" width="24"
                         ngbTooltip="Cancella" (click)="onDeleteMicroType(i)"
                         height="24" fill="currentColor">
                        <use
                                xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#trash"
                        />
                    </svg>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary top-margin-x2 col-12" (click)="addMicroGroup()">+ Aggiungi micro tipo
                    </button>
                </div>
            </div>
            <div class="top-margin-x2 row">
                <div class="col-md-12 col-lg-12">
                    <label>Descrizione</label>
                    <quill-editor
                            [formControlName]="'description'"
                            [className]="'description'"
                            [modules]="{
                toolbar: [
                  ['bold', 'italic', 'underline'],
                  [{ list: 'ordered' }, { list: 'bullet' }],
                  ['link']
                ]
              }"></quill-editor>
                </div>
            </div>
            <div class="row top-margin-x2" *ngIf="hasFormBeenInitialized">
                <div class="col-12">
                    <label>Tags (coppie di chiave valore)</label>
                    <div class="row" *ngFor="let tag of keyVals.controls; index as i">
                        <input type="text" class="col-5" placeholder="es: anno"
                               [value]="getKeyByIndex(i)"
                               (change)="onChangeKey($event, i)"/>
                        <div class="col-1 text-center align-bottom">=</div>
                        <input type="text"
                               class="col-5" placeholder="es: 1650"
                               [value]="getValueByIndex(i)"
                               (change)="onChangeValue($event, i)"/>
                        <div class="col-1">
                            <svg class="bi clickable align-bottom text-center delete" width="24"
                                 ngbTooltip="Cancella" (click)="onDeleteTags(i)"
                                 height="24" fill="currentColor">
                                <use
                                        xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#trash"
                                />
                            </svg>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary top-margin-x2 col-12" (click)="addTags()">+ Aggiungi tag</button>
                </div>
            </div>

            <div class="row top-margin-x2" *ngIf="hasFormBeenInitialized">
                <div class="col-12">
                    <label>Risorse esterne</label>
                    <div class="row" *ngFor="let tag of externalResources.controls; index as i">
                        <input placeholder="Link esterni" type="text" class="col-11"
                               [formControl]="getExternalResource(i)"/>
                        <div class="col-1">
                            <svg class="bi clickable align-bottom delete" width="24"
                                 ngbTooltip="Cancella" (click)="onDeleteExternalResource(i)"
                                 height="24" fill="currentColor">
                                <use
                                        xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#trash"
                                />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary top-margin-x2 col-12"
                            (click)="addExternalResources()">+ Aggiungi
                        risorsa esterna
                    </button>
                </div>
            </div>
            <div class="row top-margin-x2">
                <div class="col-12">
                    <label>Seleziona un sentiero</label>
                </div>
            </div>
            <div class="row" *ngIf="hasFormBeenInitialized">
                <div>
                    <div>
                        <div *ngFor="let selectTrail of trailIds.controls; index as i">
                            <div *ngIf="selectedTrails.length > 1">
                                <svg class="bi right-fix clickable align-bottom delete" width="24"
                                     ngbTooltip="Cancella" (click)="onDeleteTrail(i)"
                                     height="24" fill="currentColor">
                                    <use
                                            xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#trash"
                                    />
                                </svg>
                            </div>
                            <div *ngIf="trailPreviewResponseContent.length > 0" class="col-9">
                                <select
                                        title="Scegli un'opzione"
                                        class="form-control"
                                        id="trailId_select"
                                        [formControl]="getTrailIdsByIndex(i)"
                                        (change)="onChangeTrail($event, i)"
                                >
                                    <option
                                            *ngFor="let trail of trailPreviewResponseContent"
                                            [value]="trail.id"
                                            class="trailPreview"
                                    >
                                        {{ trail.code }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top-margin-x2">
                <button class="btn btn-primary top-margin-x2 col-12" (click)="addTrail()">+ Aggiungi sentiero
                </button>
            </div>
            <div class="row top-margin-x2" *ngIf="hasFormBeenInitialized">
                <div class="col-md-12 col-lg-12">
                    <p>Seleziona un punto sulla mappa, nei pressi del sentiero
                        <span class="mandatory-field-asterisk">*</span></p>
                    <span class="target">
                    <app-map-preview
                            [trailPreview]="this.selectedTrails[0]"
                            [classPrefix]="'selector'"
                            [isShowOtherBtnEnabled]="false"
                            [isShowFitToShapeBtnEnabled]="false"
                            [markersCoordinates]="markers"
                            [otherTrails]="this.selectedTrails"
                            [showOtherTrails]="true"
                            (onClick)="onMapClick($event)"
                    ></app-map-preview>
                    </span>
                </div>
            </div>
            <div class="row top-margin" *ngIf="hasFormBeenInitialized">
                <div class="col-md-12 col-lg-6">
                    <label>Latitude</label>
                    <input type="text" disabled required [formControlName]="'coordLatitude'">
                </div>
                <div class="col-md-12 col-lg-6">
                    <label>Longitude</label>
                    <input type="text" disabled required [formControlName]="'coordLongitude'">
                </div>
                <div class="col-md-12 col-lg-6">
                    <label>Altitude</label>
                    <input type="text" disabled required [formControlName]="'coordAltitude'">
                </div>
            </div>
            <div class="row errors" *ngIf="validationErrors.length > 0">
                <div class="col-12 top-margin-x2">
                    <ul>
                        <li *ngFor="let error of validationErrors">{{error}}</li>
                    </ul>
                </div>
            </div>

            <div class="row top-margin-x2">
                <div class="col-12">
                    <button class="btn btn-primary">Salva POI</button>
                </div>
                <div class="col-12">
                    <button routerLink="/admin/poi-management"
                            class="btn btn-outline-warning full-width top-margin">
                        Torna a gestione POI
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
