.PoiAddComponent{

  .hidden {
    display: none;
  }

  .form-control {
    width: 100%;
  }

  select {
    width: 100%;
  }

  .delete {
    float: right;
    margin-top: 5%;
  }

  .btn {
    width: 100%;
  }

  .description {
    height: 220px;
    display: inline-block;
    width: 100%;
    margin: 10px 0 0 0;
  }
}