<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 col-s-12">
            <h1>Revoca dei cookie</h1>
            <p>Se desidera cambiare la sua politica di preferenza rispetto i cookie già accettati o rifiutati,
                <span class="actionable red-colored" (click)="resetCookie()">clicchi qui</span>. La pagina sarà ricaricata e lei avrà la possibilità di scegliere o rifiutare
            le condizioni di utilizzo dei cookie, che noi usiamo solo a fini statistici e per miglioramento del servizio.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-s-12">
            <h1>Politica sulla riservatezza - Privacy policy</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-s-12">
            <p>Il sito Sentieri &amp; Cartografia &egrave; di propriet&agrave; di CAI Bologna, titolare del trattamento
                dei Suoi
                dati personali.</p>
            <p>Abbiamo adottato questa politica sulla privacy, la quale determina il trattamento delle informazioni
                raccolte da
                Sentieri &amp; Cartografia, oltre che i motivi per raccolta di certi dati personali a Lei correlati.
                Pertanto,
                deve leggere questa politica sulla riservatezza prima di usare il sito Sentieri &amp; Cartografia.</p>
            <p>Trattiamo i Suoi dati personali e garantiamo riservatezza e sicurezza degli stessi. Informazioni
                personali
                raccolte:</p>
            <p>Quando visita Sentieri &amp; Cartografia, raccogliamo automaticamente certe informazioni sul dispositivo,
                incluse
                informazioni su browser web, indirizzo IP, fuso orario e cookie installati sul dispositivo. Inoltre,
                navigando
                sul sito, raccogliamo informazioni sulle pagine web o i prodotti visualizzati, siti web o termini di
                ricerca di
                riferimento verso il sito e come Lei interagisce con il sito. Indichiamo tali informazioni raccolte
                automaticamente come &ldquo;informazioni sul dispositivo&rdquo;. Inoltre, potremmo raccogliere dati
                personali
                che ci fornisce (inclusi senza limitazione nome, cognome, indirizzo, informazioni di pagamento ecc.)
                durante la
                registrazione per soddisfare l'accordo.
            </p>
            <h2>Perch&eacute; trattiamo i dati?</h2>
            <p>La sicurezza dei dati degli utenti sono strettamente necessari per gestire il sito. Le informazioni
                raccolte automaticamente vengono
                utilizzate
                solo per identificare casi potenziali di abuso e stabilire statistiche sull'uso del sito. Queste
                informazioni
                statistiche non sono aggregate in modo da identificare un utente specifico del sistema.</p>
            <p>Le &egrave; consentito visitare il sito senza rivelare informazioni, tramite le quali potrebbe essere
                identificato personalmente. Se, tuttavia, desidera utilizzare alcune delle funzioni del sito, o desidera
                ricevere newsletter o fornire altri dettagli compilando un modulo, potrebbe doverci fornire dati
                personali come
                email, nome, cognome, citt&agrave; di residenza, organizzazione e numero di telefono. Pu&ograve;
                scegliere di
                non fornire dati personali, tuttavia in tal caso non potr&agrave; usufruire di alcune funzioni del sito.
                Per
                esempio, non potr&agrave; ricevere la nostra newsletter o contattarci direttamente dal sito. Gli utenti
                che non
                sanno quali informazioni sono obbligatorie, possono contattarci a support@sentieriecartografia.it.
            </p>
            <h2>I Suoi diritti:</h2>
            <p>Se &egrave; residente nell'Unione Europea, dispone dei seguenti diritti sui dati personali:</p>
            <ul>
                <li>Il diritto di essere informato.</li>
                <li>Il diritto all'accesso.</li>
                <li>Il diritto di modifica.</li>
                <li>Il diritto di eliminazione.</li>
                <li>Il diritto di limitazione del trattamento.</li>
                <li>Il diritto di portabilit&agrave; dei dati.</li>
                <li>Il diritto di
                    obiezione.
                </li>
                <li>Il
                    diritto in relazione a decisione e profilazione automatizzata.
                </li>
            </ul>
            <p>Per esercitare questi diritti, si prega di contattarci tramite le informazioni di contatto sotto.</p>
            <p>Inoltre, se &egrave; residente nell'Unione Europea, trattiamo le Sue informazioni al fine di stipulare i
                contratti con Lei (per esempio, in caso di ordine tramite il sito), o soddisfare in altro modo i nostri
                interessi commerciali legittimi indicati sopra. Ancora, notare che le informazioni possono essere
                trasferite
                fuori dall'Europa, incluso in Canada e negli Stati Uniti. Collegamenti ad altri siti:</p>
            <p>Il nostro sito potrebbe contenere collegamenti ad altri siti non gestiti o controllati da noi. Notare che
                non
                siamo responsabili per le pratiche sulla riservatezza di altri siti o di terzi. Invitiamo a prestare
                attenzione
                nel caso in cui si esca dal sito e leggere le dichiarazioni sulla riservatezza di ogni sito che potrebbe
                raccogliere informazioni personali. Sicurezza delle informazioni:</p>
            <p>Proteggiamo le informazioni fornite su server informatici controllati, un ambiente sicuro protetto da
                accesso,
                uso o divulgazione non autorizzata. Adottiamo sistemi di protezione fisica, tecnica e amministrativa
                ragionevoli
                per proteggere da accesso, uso, modifica e divulgazione non autorizzata delle informazioni personali in
                nostro
                possesso. Nonostante ci&ograve;, nessuna trasmissione dei dati tramite Internet o rete wireless pu&ograve;
                essere completamente garantita come sicura.
            </p>
            <h2>Avvertenza legale:</h2>
            <p>Divulgheremo informazioni raccolte, usate o ricevute se richiesto o consentito dalla legge, come per
                rispettare
                ordini di tribunali o procedure legali simili, oltre che nel caso in cui riteniamo in buona fede che la
                divulgazione sia necessaria per proteggere i nostri diritti, proteggere la Sua sicurezza o la sicurezza
                di
                altri, investigare frode o rispondere a richieste governative. Informazioni di contatto:</p>
            <p>Per qualsiasi questione correlata ai diritti individuali o alle informazioni personali, pu&ograve;
                inviare
                un'email a support@sentieriecartografia.it.</p>
        </div>
    </div>
</div>