<div class="container my-1">
    <div class="row section-distance-up">

        <app-loading-spinner *ngIf="false"></app-loading-spinner>
        <app-menu-management></app-menu-management>
        <div class="col-12 col-md-12 top-margin">
            <h1>Benvenuto {{userName}} amministratore!</h1>
        </div>
    </div>
    <div class="row section-distance-up" *ngIf="instanceInfo">
        <div class="col-12 col-md-12">
            <p>La tua sezione è: <b>{{userSection}}</b> <span *ngIf="instanceInfo.realm != userRealm"> - dato che il reame a te assegnato non coincide con quello di questa istanza, non potrai apportare modifiche.</span></p>
        </div>
        <div class="col-4 col-md-12 col-lg-4">
            <p>Ti trovi sull'istanza: <b>{{instanceInfo.instance}}</b></p>
        </div>
        <div class="col-4 col-md-12 col-lg-4">
            <p>Reame: <b>{{instanceInfo.realm}}</b></p>
        </div>
        <div class="col-4 col-md-12 col-lg-4">
            <p>S&C v.<b>{{instanceInfo.runningVersion}}</b></p>
        </div>
        <div class="col-12 col-md-12">
            <h2>Lavori in background</h2>
            <p>Attualmente non ci sono esecuzioni in corso</p>
        </div>
    </div>

</div>
