<div class="container my-1">
    <div class="row section-distance-up">

        <app-loading-spinner *ngIf="false"></app-loading-spinner>
        <app-menu-management></app-menu-management>
        <div class="col-12 col-md-12 top-margin">
            <h1>Benvenuto amministratore!</h1>
        </div>
    </div>
    <div class="row section-distance-up">
        <div class="col-12 col-md-12">
            <h2>Lavori in background</h2>
            <p>Attualmente non ci sono esecuzioni in corso</p>
        </div>
    </div>

</div>
