.location-management-add {
  .hidden {
    display: none;
  }

  .description {
    height: 220px;
    display: inline-block;
    width: 100%;
    margin: 10px 0 0 0;
  }

  #selector0 {
    height: 220px !important;
  }

  .btn {
    width: 100%
  }
}