<div>
    <div class="row">
        <dic class="col-12">
            <h2>Aggiungi/modifica una località/crocevia</h2>
        </dic>
    </div>
    <div class="row">
<!--        <form>-->
        <div class="col-md-12 col-lg-4">
            <label>Nome</label>
            <input type="text">
        </div>
        <div class="col-md-12 col-lg-4">
            <label>Toponimi</label>
            <input type="text" placeholder="Toponimi divisi da una virgola ','">
        </div>
        <div class="col-md-12 col-lg-4">
            <label>Id</label>
            <input disabled type="text">
        </div>
    </div>
    <div class="row">

    </div>

<!--        PlaceDto: {-->
<!--        id?: string;-->
<!--    v    name?: string;-->
<!--        description?: string;-->
<!--        tags?: string[];-->
<!--        mediaIds?: string[];-->
<!--        coordinates?: components["schemas"]["CoordinatesDto"][];-->
<!--        crossingTrailIds?: string[];-->
<!--        recordDetails?: components["schemas"]["RecordDetailsDto"];-->
<!--        };-->
<!--        </form>-->
</div>
