.section-distance-up {
  margin-top: 20px;
}

.small-column { 
  width: 10px;
}

.hide {
  display: none;
}

.trailPreview {
  transition: 0.3s all;

  &:hover {
    background: #d04341;
    color: white;
    cursor: pointer;
  }
}
