<div class="container my-4">
    <div class="row">
        <div class="col-12 col-md-12 col-s-12">
            <h1>Sicurezza sui sentieri</h1>
        </div>
        <div class="col-6 col-md-8 col-s-12">
            <p>L’escursionismo permette di scoprire la montagna con percorsi che vanno dalle semplici passeggiate
                all’ambiente d’alta quota che arriva a lambire i ghiacciai. </p>
            <p>Le difficoltà possono essere quindi molto diverse, in termini tecnici, ambientali e d’impegno fisico
                richiesto. </p>
            <p>E' bene ricordare che, anche sui sentieri apparentemente banali, non bisogna mai dimenticare di
                considerare attentamente le condizioni del terreno, osservare e prevenire le variazioni del tempo,
                tenere in considerazione le condizioni fisiche di noi stessi e degli amici che camminano con noi.
                L'entusiasmo non deve mai offuscare la necessaria prudenza.</p>
            <p>In seguito, le principali considerazioni vengono discusse brevemente.</p>
            <p>Per info complete, vedi
                <a href="http://www.sicurinmontagna.it/media/activity/pdf/484/sicuri-sul-sentiero-17.pdf"
                    target="_blank">la guida completa</a>
            </p>
        </div>
        <div class="col-6 col-md-4 col-s-12">
            <img class="img-fluid" src="/assets/cai/safety/stoneman.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-s-6">
            <h2>La preparazione personale</h2>
        </div>
        <div class="col-6 col-md-5 col-s-12">
            <h3>Preparazione fisica e mentale</h3>
            <p> I facili sentieri di fondo valle, i percorsibrevi con modesti dislivelli ed assenza ditratti esposti,
                per essere affrontati in tran-quillità non richiedono particolari prepara-zioni.
            <p>Andare in montagna però
                significaspesso camminare per ore in ambientiimpervi che sottopongono l'escursionista afatiche non
                trascurabili; le lunghe passeg-giate vanno affrontate solo con una buonapreparazione fisica, così come i
                posti piùinaccessibili richiedono passo fermo esicuroper essere raggiunti.
            </p>
            <p>Le escursionipiù lunghe ed
                impegnative vanno affrontatesolo con allenamento già consolidato; inambienti difficili ed isolati non
                convienefarsi sorprendere dalla spossatezza o, peg-gio, dallo sfinimento. Su pendii scoscesi
                onell'attraversamento di balze roccioseesposte, è necessario mantenere la giustacalma e concentrazione
                nei nostri passi;cedere all'ansia, o peggio al panico, puògiocare brutti scherzi</p>
        </div>
        <div class="col-6 col-md-5 offset-1 col-s-12">
            <h3>Equipaggiamento</h3>
            <p> Un’attenzione particolare va spesa per l’at-trezzatura che in montagna, relativamenteal percorso
                affrontato, dev’essere sceltacon giudizio. Fare lo zainoè un po’ un’arteperché significa far conciliare
                il peso, chedeve essere il più ridotto possibile, con lacapacità di portare tutto ciò che può servi-re
                durante la gita, pensando anche di doverrisolvere piccoli inconvenienti.</p>
            <p>Meglio uno zaino dalle
                dimensioni non esagerate, benfermo sulle spalle, senza oggetti che penzo-lano fuori rischiando di
                impigliarsi e di sbi-lanciare il nostro cammino.L’abbigliamento deve essere scelto secon-do il criterio
                degli strati sovrapposti</p>
        </div>
    </div>
</div>