<div *ngIf="selectedTrail" class="row clickable" [ngClass]="{ 'hide' : selectedTrail }" (click)="toggleFullTrailPage">
    <div class="col-md-10">
        <h1>{{ selectedTrail.code }}</h1>
    </div>
    <div class="col-md-2 space-up" (click)="toggleFullTrailPage()">
        <svg class="bi" width="24" height="24" fill="red">
            <use xlink:href="assets/bootstrap-icons/bootstrap-icons.svg#arrow-up-right-square" />
        </svg>
    </div>
</div>
<div *ngIf="selectedTrail" class="col-12 white scrollable details" [ngClass]="{ 'hide' : selectedTrail }">
    <div>
        <h4>Classificazione</h4>
        <p> {{ selectedTrail.classification }}</p>
        <h4>Località</h4>
        <p> <span>{{ selectedTrail.startPos.name }}</span> - <span>{{ selectedTrail.finalPos.name }}
            </span> </p>
        <h4>Percorribilita'</h4>
        <div *ngIf="trailNotifications && trailNotifications.length > 0; else notShow" class="clickable">
            <div (click)="toggleEventNotificationList()">
                <svg class="bi pulse" width="24" height="24" fill="red">
                    <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill" />
                </svg>
                <p>Clicca visualizzare avvisi di percorribilita'</p>
            </div>
        </div>
        <ng-template #notShow>
            <p>
                <svg class="bi" width="24" height="24">
                    <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#check-all" />
                </svg>
                Bene, non ci sono avvisi di percorribilita
            </p>
        </ng-template>
        <h4>Lunghezza</h4>
        <p>{{ selectedTrail.statsMetadata.length }}m</p>
        <h4>Tempo di percorrenza</h4>
        <p>{{ selectedTrail.statsMetadata.eta | eta }}</p>
        <p>({{selectedTrail.statsMetadata.eta}} minuti)</p>
        <h4>Dislivello</h4>
        <p>Positivo: {{ selectedTrail.statsMetadata.totalRise }}m</p>
        <p>Negativo: {{ selectedTrail.statsMetadata.totalFall }}m</p>
        <h4>Descrizione</h4>
        <p>{{ selectedTrail.description }}</p>
        <h4>Altro</h4>
        <div class="row">
            <div class="col-md-2 space-up">
                <svg class="bi" width="32" height="32" fill="red">
                    <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#download" />
                </svg>
            </div>
            <div class="col-md-10 space-up clickable">
                <a (click)="onDownloadGpx()" target="_blank">Download</a>
            </div>
            <div class="col-md-2 space-up clickable">
                <svg class="bi" width="32" height="32" fill="red">
                    <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#geo-alt" />
                </svg>
            </div>
            <div class="col-md-10 space-up">
                <label>Apri su Maps</label>
            </div>
        </div>
    </div>
</div>