.column-map {
    padding: 1%;
    padding-bottom: 0;
    z-index: 1;
}

.scrollable {
    overflow-y: scroll;
    height: 500px;
}

.pulse {
    animation: pulse-animation 1s infinite alternate-reverse;
}

@keyframes pulse-animation {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }