<div class="MapTrailDetails row">
    <div *ngIf="selectedTrail" class="top-margin col-12" [ngClass]="{ 'hide' : selectedTrail }">
        <div class="row">
            <div class="col-md-10">
                <h1 class="trailCodeColumn">{{ selectedTrail.code }}</h1>
            </div>

            <div class="col-md-2 clickable" (click)="onToggleMode()">
                <svg class="bi" width="32" height="32" fill="currentColor" *ngIf="isCycloSwitchOn">
                    <use
                            xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#bicycle"
                    />
                </svg>
                <svg class="bi" width="29" height="29" fill="currentColor" *ngIf="!isCycloSwitchOn">
                    <use
                            xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#people"
                    />
                </svg>
            </div>
        </div>
    </div>
    <div *ngIf="selectedTrail" id="scrollable-content" class="col-12"
         [ngClass]="{ 'hide' : selectedTrail }">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <h4>Classificazione</h4>
                    </div>
                    <div class="col-6">
                        <h4>Lunghezza</h4>
                    </div>
                    <div class="col-6">
                        <span *ngIf="!isCycloSwitchOn">{{ selectedTrail.classification }}</span>
                        <span *ngIf="isCycloSwitchOn">{{getMappedCycloClassification(selectedTrail.cycloDetails.cycloClassification)}}</span>
                    </div>
                    <div class="col-6">
                        <div>{{ getDistance() }}m</div>
                    </div>
                </div>
            </div>
            <!--            -->
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <h4>T. di percorrenza</h4>
                    </div>
                    <div class="col-6">
                        <h4>Dislivello</h4>
                    </div>
                    <div class="col-6">
                        <span *ngIf="!isCycloSwitchOn">Circa {{ selectedTrail.officialEta != 0 ? (selectedTrail.officialEta | eta) : (selectedTrail.statsTrailMetadata.eta | eta) }}</span>
                        <span *ngIf="isCycloSwitchOn">{{ selectedTrail.cycloDetails.officialEta | eta }}</span>
                    </div>
                    <div class="col-6">
                        <div>
                            <div>Positivo: {{ selectedTrail.statsTrailMetadata.totalRise }}m</div>
                            <div>Negativo: {{ selectedTrail.statsTrailMetadata.totalFall }}m</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            -->
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h4>Località</h4>
                    </div>
                    <div class="col-md-12 ">
                        <span (click)="moveTo(selectedTrail.startLocation.coordinates)" class="clickable"><span
                                class="arrow down"></span>{{
                            selectedTrail.startLocation.name }}</span>
                        <span> ↔ </span>
                        <span (click)="moveTo(selectedTrail.endLocation.coordinates)" class="clickable"><span
                                class="arrow down"></span>{{
                            selectedTrail.endLocation.name }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h4>Descrizione</h4>
                    </div>
                    <div class="col-12">
                        <div [innerHTML]="selectedTrail.description"></div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="isCycloSwitchOn && selectedTrail.cycloDetails.description != ''">
                <div class="row">
                    <div class="col-12">
                        <h4>Descrizione ciclistica</h4>
                    </div>
                    <div class="col-12">
                        <div [innerHTML]="selectedTrail.cycloDetails.description"></div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="isCycloSwitchOn">
                <div class="row">
                    <div class="col-12">
                        <h4>Percorribilità ciclistica</h4>
                    </div>
                    <div class="col-12">
                        <span (click)="moveTo(selectedTrail.startLocation.coordinates)" class="clickable"><span
                                class="arrow down"></span>{{
                            selectedTrail.startLocation.name }}</span>
                        <span> → </span>
                        <span (click)="moveTo(selectedTrail.endLocation.coordinates)" class="clickable"><span
                                class="arrow down"></span>{{
                            selectedTrail.endLocation.name }}
                        </span>
                        <span *ngIf="selectedTrail.cycloDetails.cycloClassification != 'UNCLASSIFIED'">
                            <span *ngIf="selectedTrail.cycloDetails.wayBack.feasible">
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#check-all"/>
                                </svg>
                            </span>
                            <span *ngIf="!selectedTrail.cycloDetails.wayBack.feasible">
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
                                </svg>
                            </span>
                            <div>
                                Portage: <span>{{selectedTrail.cycloDetails.wayForward.portage}}</span> min.
                            </div>
                        </span>
                    </div>
                    <hr/>
                    <div class="col-12">
                        <span (click)="moveTo(selectedTrail.endLocation.coordinates)" class="clickable"><span
                                class="arrow down"></span>{{
                            selectedTrail.endLocation.name }}
                        </span>
                        <span> → </span>
                        <span (click)="moveTo(selectedTrail.startLocation.coordinates)" class="clickable"><span
                                class="arrow down"></span>{{
                            selectedTrail.startLocation.name }}
                        </span>
                        <span *ngIf="selectedTrail.cycloDetails.cycloClassification != 'UNCLASSIFIED'">
                            <span *ngIf="selectedTrail.cycloDetails.wayBack.feasible">
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#check-all"/>
                                </svg>
                            </span>
                            <span *ngIf="!selectedTrail.cycloDetails.wayBack.feasible">
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill"/>
                                </svg>
                            </span>
                            <div>
                                Portage: <span>{{selectedTrail.cycloDetails.wayBack.portage}}</span> min.
                            </div>
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="connectedTrails.length > 0">
                <div class="row">
                    <div class="col-12">
                        <h4>Sentieri collegati</h4>
                    </div>
                    <div class="col-12">
                        <span *ngFor="let connected of connectedTrails" class="clickable white-font trailCodeColumn"
                              (click)="onRelatedTrailClick(connected.id)">
                            {{connected.code}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h4>Percorribilita'</h4>
                    </div>
                    <div class="col-12" *ngIf="selectedTrailMaintenances.length > 0">
                        <div class="col-12">
                            Ultima <span class="clickable" (click)="onLastMaintenanceWordClick()">
                            manutenzione</span> eseguita il {{formatDate(selectedTrailMaintenances[0].date)}}
                        </div>
                    </div>
                    <div class="col-12">
                        <div *ngIf="trailNotifications && trailNotifications.length > 0; else notShow"
                             class="clickable row">

                            <table id="trailTable" class="table table-striped interactive-table">
                                <thead class="">
                                <tr>
                                    <th scope="col">Problemi verificati</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr class="col-12 clickable" *ngFor="let notification of trailNotifications"
                                    (click)="
                                    onNotificationClick(notification.id)">
                                    <td>
                                        <span [innerHTML]="notification.description"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <ng-template #notShow>
                            <div>
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#check-all"/>
                                </svg>
                                Non ci sono problemi di percorribilità
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h4>Profilo altimetrico</h4>
                    </div>
                    <div class="col-11">
                        <canvas id="hikeChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h4>Download</h4>
                    </div>
                    <div class="col-12">
                        <div class="row clickable">
                            <div class="col-md-2">
                                <a (click)="onDownloadGpxClick()" target="_blank">
                                    <svg class="bi" width="24" height="24" fill="red">
                                        <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#download"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-md-10">
                                <a (click)="onDownloadGpxClick()" target="_blank">
                                    <span>Traccia .gpx</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row clickable">
                            <div class="col-md-2">
                                <a (click)="onDownloadKmlClick()" target="_blank">
                                    <svg class="bi" width="24" height="24" fill="red">
                                        <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#download"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-md-10">
                                <a (click)="onDownloadKmlClick()" target="_blank">
                                    <span>Traccia .kml</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row clickable">
                            <div class="col-md-2">
                                <a (click)="onDownloadPdfClick()" target="_blank">
                                    <svg class="bi" width="24" height="24" fill="red">
                                        <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#download"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-md-10">
                                <a (click)="onDownloadPdfClick()" target="_blank">
                                    <span>Foglio .pdf</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 bottom-margin">
                <button type="button" class="btn btn-outline-warning" (click)="onReportIssueToTrailClick()">Riporta un
                    problema di percorrenza
                </button>
            </div>
        </div>
    </div>
</div>