@import "/src/app/style/const.scss";

.MapTrailDetails {

  .classification {
    svg{
      margin: 0 10px;
    }
    svg:hover {
      color: $secondary-bg-color;
    }
  }

  .pois .trailCodeColumn {
    cursor: pointer;
  }

  .low-opacity {
    opacity: 0.5;
  }

  .bottom-margin {
    margin-bottom: 20px;
  }

  a {
    width: 100%;
  }

  .row {
    margin-bottom: 2%;
  }

  ul {
    padding: 0;
  }

  .clickable {
    cursor: pointer;
    color: $primary-bg-color;
  }
  .clickable:hover {
    color: $secondary-bg-color;
  }

  ul li {
    list-style: none;
  }

  .trailCodeColumn{
    width: fit-content;
    padding: 0 0.3em;
    color: white;
  }

  .trailCodeColumn:hover {
    background: $secondary-bg-color !important;
  }

  .trailCodeColumnColor {
    background: $secondary-bg-color !important;
  }
}