<div class="entry space-up">
<h4>Località #{{i | increaseOne}}</h4>
<div class="form-row">
    <div class="form-group col-md-4 mb-3">
        <p>Nome</p>
        <input type="text" class="form-control" placeholder="Es: Rasora" required>
    </div>
    <div class="form-group col-md-4 mb-3">
        <p>Altri nomi - separati da una virgola</p>
        <input type="text" class="form-control" placeholder="Es: ..." required>
    </div>
    <div class="form-group col-md-4 mb-3">
        <p>Seleziona posizione località da mappa usando il seguento slider</p>
        <input type="range" min="0" class="form-control" required>
    </div>
</div>
<div class="form-row">
    <label>Anteprima</label>
    <div class="form-group col-md-12 mb-12">
        <app-map-preview [index]="i | increaseOne"></app-map-preview>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-3 mb-3">
        <p>Latitudine</p>
        <input type="text" disabled class="form-control" required>
    </div>
    <div class="form-group col-md-3 mb-3">
        <p>Longitudine</p>
        <input type="text" disabled class="form-control" required>
    </div>
    <div class="form-group col-md-3 mb-3">
        <p>Altitudine</p>
        <input type="text" disabled class="form-control" required>
    </div>
    <div class="form-group col-md-3 mb-3">
        <p>Distanza dalla partenza</p>
        <input type="text" disabled class="form-control" required>
    </div>
</div>
</div>