<div class="col-md-12">
    <h1>Lista sentieri</h1>
    <table *ngIf="trailsPreviewList" class="table table-striped interactive-table">
        <thead>
            <tr>
                <th scope="col">Codice</th>
                <th scope="col">Localita</th>
                <th scope="col">Class.</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trailPreview of trailsPreviewList" class="clickable actionable-row" (click)="onPreview(trailPreview)">
                <td scope="row">{{ trailPreview.code }}</td>
                <td>{{ trailPreview.startPos.name }} - {{ trailPreview.finalPos.name }} </td>
                <td>{{ trailPreview.classification }}</td>
            </tr>
        </tbody>
    </table>
</div>