$primary-bg-color : #0B2E20;
$secondary-bg-color: #1D9566;

$primary-text-color: #1D9566;
$secondary-text-color: #FFF;

$menu-primary-font-size: 26px;
$menu-secondary-font-size: 18px;


$primary-font : "Bebas Neue Regular";
$secondary-font: "Fira Sans Light";
