$primary-bg-color : #0B2E20;
$secondary-bg-color: #1D9566;

$primary-text-color: #1D9566;
$secondary-text-color: #FFF;

$action-btn-color: #ECC333;

$error-color: #D04341;


$background-transparent-color : rgba(255, 255, 255, 0.5);

$menu-primary-font-size: 26px;
$menu-huge-font-size: 48px;
$menu-secondary-font-size: 18px;


$primary-font : "Bebas Neue Regular";
$secondary-font: "Fira Sans Light";

$header-height: 50px;
