<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of mediaDtos">
            <div class="picsum-img-wrapper">
                <img [src]="image.fileUrl + '_m.' + image.extension" alt="Random first slide" class="cover-image" />
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Ok</button>
</div>
