<div class="container" id="AccessibilityViewComponent">
    <div *ngIf="!isLoading && selectedTrail != null">
        <app-trail-floating-preview
                [trails]="[selectedTrail]"
                [isVisible]="isPreviewVisible"
                [markers]="markers"
                (onClose)="togglePreview()"
        ></app-trail-floating-preview>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-7">
            <h1>
                Problemi di percorrenza accertati sui sentieri
            </h1>
            <p>I seguenti sono i problemi di percorrenza, presenti sui sentieri della rete, accertati dal gruppo di
                sentieristica.</p>
            <p>Hai per caso notato un problema, frana, albero schiantato, o altro, che blocca un sentiero? <a
                    routerLink="./reporting-form">Aiutaci segnalandolo</a>
            </p>.
        </div>
        <div class="offset-lg-3 col-lg-2 d-none d-lg-block">
            <img src="../../assets/cai/trekking/maintenance.jpg" alt="maintenance" class="full-width"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary full-width">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#phone"/>
            </svg>
            Segnala in base alla posizione</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-secondary full-width">
                <svg class="bi" width="24" height="24" fill="currentColor">
                    <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#signpost"/>
                </svg>
                Segnala in base al sentiero</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div *ngIf="unresolvedNotifications.length > 0; else notShow" class="top-margin-x2">
                <table class="table table-striped interactive-table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col" class="d-none d-lg-block">Data Segnalazione</th>
                        <th scope="col">Sentiero</th>
                        <th scope="col">Descrizione Problema</th>
                        <th scope="col">Aggirabile?</th>
                        <th scope="col" class="d-none d-lg-block">Anteprima</th>
                        <th scope="col">Apri</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="hasLoaded">
                    <tr *ngFor="let notification of unresolvedNotifications"
                        [class]="!notification.minor ? 'highlight clickable' : 'clickable'">
                        <th
                                scope="row"
                                class="ellipsis small-column"
                                title="{{ notification.id }}"
                        >
                            {{ notification.id }}
                        </th>
                        <td class="d-none d-lg-block">{{ formatDate(notification.reportDate) }}</td>
                        <td (click)="showDetails(notification)">
                            <span class="trailCodeColumn">
                              {{ getTrailCode(notification.trailId) }}
                            </span>
                        </td>
                        <td class="ellipsis small-column" [innerHTML]="notification.description"
                            (click)="showDetails(notification)"></td>
                        <td (click)="showDetails(notification)">
                            <svg class="bi" width="24" height="24" fill="currentColor">
                                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#check"
                                     *ngIf="notification.minor"/>
                                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#x-circle"
                                     *ngIf="!notification.minor"/>
                            </svg>
                        </td>
                        <td (click)="showMapPreview(notification.trailId, notification.coordinates)"
                            class="d-none d-lg-block">
                            <svg class="bi" width="24" height="24" fill="currentColor">
                                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#eye"/>
                            </svg>
                        </td>
                        <td (click)="navigateToMap(notification.id)">
                            <svg class="bi" width="24" height="24" fill="currentColor">
                                <use xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#arrows-fullscreen"/>
                            </svg>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination-position">
                    <ngb-pagination
                            [pageSize]="entryPerPage"
                            [collectionSize]="totalUnresolvedNotification"
                            [(page)]="unresolvedPage"
                            aria-label="Default pagination"
                            (pageChange)="loadNotification(unresolvedPage)"
                    ></ngb-pagination>
                </div>
            </div>

            <ng-template #notShow>
                <app-items-not-found class="top-margin-x2"
                                     text="✔️ Nessun problema di percorrenza trovato."></app-items-not-found>
            </ng-template>
        </div>
    </div>
</div>