@import "../style/const.scss";

#AccessibilityViewComponent {
 .modal-dialog {
    margin-top: 8%;
 }

  table {
    tr, td, th {
      padding-bottom: 0.5em !important;
    }

    thead tr {
      border-top: none !important;
    }

    tr {
      border-top: 2px solid #d6dce3;
    }

    .d-none {
      border-bottom: 0 !important;
    }

    .highlight {
      background: $error-color-light;
      color: white;
    }

    .highlight:hover {
      background: $error-color !important;
      color: white;
    }
  }


}
