.MapFullDetailView {
  padding: 3%;
}

.MapTrailDetails {

  .trailCodeColumnColor {
    background-color: black !important;
  }
  .clickable {
    color: white !important;
  }
}


.navigation-back {
  width: 100%;
  margin: 0;
  z-index: 1;
  padding: 1%;
  height: 50px;
}

.search-section {
  .search-box {
    border: 1px solid black;
  }
}
