@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

/* You can add global styles to this file, and also import other style files */
.white {
  background: white;
}

.btn.btn-light {
  background: white;
}

.clickable {
    cursor: pointer;
}

/*
* Leaflet general styling
*/
.leaflet-bottom {
  left:25% !important;
}

.space-up{ 
  margin-top: 2%;
}