@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "/src/app/style/const.scss";

/* You can add global styles to this file, and also import other style files */
.white {
  background: white;
}

.btn.btn-light {
  background: white;
}

.clickable {
  cursor: pointer;
}

/*
* Leaflet general styling
*/
.leaflet-bottom {
  left: 25% !important;
}

.space-up {
  margin-top: 2%;
}

* {
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
thead, th, li, .nav-item, button, .upload-button-management__label {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0px !important;
}

.nav-item {
  font-size: $menu-primary-font-size;
}

.upload-button-management__label{
  background-color: $primary-bg-color;
}

h1 {
  font-size: 32px !important;
}

h2 {
  font-size: 27px !important;
}

h4,
h3 {
  font-size: 24px !important;
  margin-top: 3%;
}
