@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "/src/app/style/const.scss";

/* You can add global styles to this file, and also import other style files */
.white {
  background: white;
}

.container, #main {
  a {
    text-decoration: none !important;
  }
  a:hover {
    text-decoration: none;
  }
}

.ql-container {
  font-size: 14px !important;
  color: black !important;
  font-weight: 400 !important;
}

.row {
  width: 100%;
}

#main .container {
  padding: 13% 0 2.5% 0;
}

#header-wrapper .container {
  padding: 0 0 0 0;
}

.btn.btn-light {
  background: white;
}

.clickable {
  cursor: pointer;
}

.white-font {
  color: white !important;
}

/*
* Leaflet general styling
*/
.leaflet-bottom {
  left: 25% !important;
}

.space-up {
  margin-top: 2%;
}

form {

  .description {
    height: 220px;
    display: inline-block;
    width: 100%;
    margin: 10px 0 0 0;
  }

  .errors {
    color: $error-color;
  }

  .mandatory-field-asterisk {
    color: $error-color;
  }
}

.it-header-slim-wrapper .it-header-slim-wrapper-content a.it-opener {
  display: none !important;
}


* {
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
thead,
th,
li,
.nav-item,
button,
.upload-button-management__label {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0 !important;
}

.btn-outline-warning {
  background: white !important;
}

.active a {
  color: $secondary-bg-color !important;
  font-size: smaller;
}

.pagination .page-item {
  margin-right: 0 !important;
}

.navbar-nav {
  height: 40px;
}

.menu-wrapper .nav-item {
  height: 40px;
  padding: 0 0;
  margin: 0;
  font-size: $menu-primary-font-size;
}

.nav-item .nav-link {
  padding: 0;
  height: 20px !important;
}

.upload-button-management__label,
button,
input[type="submit"],
.upload[type="file"] + label,
.btn-primary {
  background: $action-btn-color !important;
  border-radius: 0;
}

.upload-button-management__label span,
.upload[type="file"] + label span {
  color: $primary-font !important;
}

h1 {
  font-size: 32px !important;
}

h2 {
  font-size: 27px !important;
}

h4,
h3 {
  font-size: 24px !important;
  margin-top: 3%;
}

table td,
th {
  font-size: 16px;
  font-weight: 100;
}

.hidden {
  display: none !important;
}

table tbody {
  tr:hover {
    background: $soft-action-color !important;
  }
}

table td {
  font-size: 14px;
}

.table td, .table th {
  padding: 0.6em !important;
}

.trailCodeColumn {
  background: black;
  padding: 2px;
  border-radius: 5px;
  color: white;
  margin-right: 1px;
}

.trailCodeColumn:hover {
  background: $secondary-bg-color;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table {
  .trailCodeColumn {
    background: black;
    padding: 2px;
    border-radius: 5px;
    color: white;
  }

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .small-column {
    max-width: 10px;
  }
}

.nav-tabs .active {
  color: $action-btn-color !important;
  border-bottom: 2px solid $action-btn-color !important;
}

.nav-tabs .nav-link:hover {
  color: $action-btn-color !important;
}

.accordion .card-header {
  padding: 0 0 1em 0;
  border-bottom: none;
}

.accordion .card-body {
  padding: 24px 0;
}

.full-width {
  width: 100%;
}

.top-margin {
  margin-top: 0.5em;
}

a {
  color: white;
}

select {
  border-bottom: 1px solid black !important;
}

.top-margin-s {
  margin-top: -0.2em;
}

.top-margin-x2 {
  margin-top: 1.5em;
}

.btn-error {
  background-color: $error-color !important;
}

.btn-success {
  background-color: $primary-text-color !important;
}

.btn-info {
  background-color: $info-color !important;
}

.actionable {
  color: $action-btn-color;
  cursor: pointer;
}

.modal-dialog {
  min-width: 60% !important;
}

#map-full {

  .trailmap-marker {
    width: max-content;
  }

  .code {
    font-size: 10px;
  }

  .red {
    float: left;
    width: 18px;
    height: 20px;
    background: $error-color;
  }

  .white {
    float: left;
    height: 20px;
    background: white;
    padding: 2.5px 5px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 97.5% !important;
    padding: 1.25% 1.25%;
  }

  #main {
    margin-top: 50px;

    .container {
      max-width: 97% !important;
      padding: 1% 1.5%;
    }
  }


}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
