@import "src/app/style/const";

#image {
    background: url(/assets/cai/bg_home.avif) no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.Home {

  .light-text {
    font-family: 'Fira Sans', serif;
    opacity: 0.8;
    font-weight: 100;
  }

  .action-square-btn {
    background: url("../../assets/icons/home/svg/action.svg") no-repeat;
    width: 40px;
    min-height: 40px;
    float: right;
  }

  h1.massive-font {
    font-size: $menu-primary-font-size !important;
  }

  #map-image {
    background-image: url("../../assets/icons/home/png/map.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
  }

  #trails-image {
    background-image: url("../../assets/icons/home/png/track.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
  }

  .offset-1 {
    margin-left: 30px;
  }

  .box:hover {
    margin-left: 3px;
  }

  .box {
    cursor: pointer;
    background: $primary-bg-color;
    color: $secondary-text-color;
    padding: 1.5%;
    transition: 0.2s all;
    border: 1px solid white;
    animation-name: showUp;
    animation-duration: 1s;

    svg {
      margin: 10px;
    }

  }

  .box:last-child {
    margin-bottom: 20px;
  }

  @keyframes showUp {
    from {opacity: 0.5;}
    to {opacity: 0.9;}
  }

  .INFO {
    background: $info-color;
  }

  .EMERGENCY {
    background: $error-color;
  }

  .WARNING {
    background: $action-btn-color;
  }

  .description {
    max-height: 200px;
    overflow: hidden;
  }
}