<div id="image"></div>
<div id="holder" class="Home">
    <div class="container">
        <div class="row margin-top-xl section-distance-up fixed">
            <div class="col-4 box">
                <h1 class="massive-font">Mappa</h1>
                <div class="light-text">Scopri il territorio direttamente dalla mappa</div>
                <div id="map-image" class="top-margin-x2"></div>
                <div class="action-square-btn top-margin-x2 bottom-right"></div>
            </div>
            <div class="col-4 offset-1 box">
                <h1 class="massive-font">Percorrenza</h1>
                <div class="light-text">Tutti le notifiche di percorrenza dell'area Bolognese</div>
                <div id="trails-image" class="top-margin-x2"></div>
                <div class="action-square-btn top-margin-x2 bottom-right"></div>
            </div>
        </div>
    </div>
</div>