@import "src/app/style/const";

.band {
  height: 30px;
  width: 100%;
  background: pink;
  position: absolute;
  top: 6.9%;
  left: 0;
  text-align: center;
  color: #AA336A;
  font-weight: bold;
  border: 1px solid white;

  .pulse {
    animation: pulse-animation 2s infinite alternate-reverse;
  }
}

#image {
  background: url(/assets/cai/bg_home.avif) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

.Home {

  .adv {
    position: absolute;
    right: 5%;
    top: 12%;
    transition: 0.5s all;

    a {
      text-decoration: none;
    }
  }

  .adv:hover {
    right: 5.5%;
  }

  @media (max-width: 992px) {
    .adv {
      display: none;
    }

    .text-on-background {
      display: none;
    }
  }

  .text-adv {
    color: black;
    padding: 10px;
    background: rgba(255, 255, 255);
    text-align: right;
    font-size: 48px !important;


    .strike-through {
      font-family: "Bebas Neue", cursive !important;
      text-decoration: underline;
      color: $info-color;
    }

  }

  .text-on-background {
    background: $primary-bg-color;
    color: white;
    padding: 10px;
  }


  .light-text {
    font-family: 'Fira Sans', serif;
    opacity: 0.8;
    font-weight: 100;
  }

  .action-square-btn {
    background: url("../../assets/icons/home/svg/action.svg") no-repeat;
    width: 40px;
    min-height: 40px;
    float: right;
  }

  h1.massive-font {
    font-size: $menu-primary-font-size !important;
  }

  #map-image {
    background-image: url("../../assets/icons/home/png/map.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
  }

  #trails-image {
    background-image: url("../../assets/icons/home/png/track.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
  }

  .offset-1 {
    margin-left: 30px;
  }

  .box:hover {
    margin-left: 3px;
  }

  .box {
    cursor: pointer;
    background: $primary-bg-color;
    color: $secondary-text-color;
    padding: 1.5%;
    transition: 0.2s all;
    border: 1px solid white;

    svg {
      margin: 10px 10px 10px 0;
    }

  }

  .box:last-child {
    margin-bottom: 20px;
  }


  .INFO {
    background: $info-color;
  }

  .EMERGENCY {
    background: $error-color;
  }

  .WARNING {
    background: $action-btn-color;
  }

  .description {
    max-height: 200px;
    overflow: hidden;
  }
}