@import "src/app/style/const";

#image {
    background: url(/assets/cai/bg_home.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.Home {

    .offset-1 {
        margin-left: 30px;
    }

    .box {
        background: $primary-bg-color;
        color: $secondary-text-color;
        position: relative;
        width: 50%; /* desired width */
    }

    .box:before {
        content: "";
        float: left;
        padding-top: 100%; /* initial ratio of 1:1*/
    }

    .fixed {
        position: absolute;
        bottom: 2.5em;
        width: 100%;
    }
}