@import "../../style/const.scss";

.hide {
  display: none !important;
}

.MapMobileView {

  left: 18px;
  top: 550px;
  position: absolute;
  transition: 0.5s all;
  width: 100%;
  z-index: 1000;
  min-height: 150px;

  .mobile-content {
    background: $secondary-bg-color;
    width: 100%;
  }

  #bike-icon, #people-icon, #clock-icon {
    color: white;
  }

  .expand-bar-outer {
    height: 30px;
    width: 100%;
    padding-top: 10px;
    cursor: pointer;
    animation-name: pulse-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .expand-bar {
    cursor: pointer;
    width: 80%;
    height: 5px;
    background: #fff;
    border-radius: 5px 5px 5px;
    margin: 0 auto 10px;
  }

  .contents {
    padding: 2% 5%;
  }

  .mobile-preview-text {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }

  .mobile-preview-text-small-top {
    color: $primary-bg-color;
    font-size: 14px;
    font-weight: bold;
  }

  .mobile-preview-text-small-bottom {
    color: $error-color;
    font-size: 14px;
    font-weight: bold;
  }

  #mobile-side-column {
    width: 100%;
    padding: 3%;

    .trailCodeColumn {
      width: fit-content;
      padding: 0 0.3em;
      color: white;
    }
  }

  #mobile-side-column {
    transition: 2s all;
    background-color: $secondary-bg-color;
  }

  .bottom-margin {
    margin-bottom: 20px;
  }

  .mobile-preview-text-small {
    font-size: 14px;
    color: #fff;
  }
}