<div *ngIf="selectedTrail != null">
  <app-trail-floating-preview
          [trails]="[selectedTrail]"
          [markers]="[marker]"
          [isVisible]="isPreviewVisible"
          (onClose)="togglePreview()"
  ></app-trail-floating-preview>
</div>
<button type="button" class="btn btn-primary top-margin" routerLink="./add" *ngIf="authService.isRealmMatch()">
  + Aggiungi POI
</button>
<div *ngIf="!isLoading">
  <div *ngIf="poiResponse.content.length > 0; else notShow">
    <table
      id="trailTable"
      class="table table-striped interactive-table"
    >
      <thead class="">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Sentiero/i</th>
          <th scope="col">Tipo</th>
          <th scope="col">Caricato il</th>
          <th scope="col">Caricato da</th>
          <th scope="col" *ngIf="authService.isRealmMatch()">Modifica</th>
          <th scope="col" *ngIf="authService.isRealmMatch()">Cancella</th>
        </tr>
      </thead>
      <tbody class="short-list">
        <tr *ngFor="let poi of poiResponse.content">
          <th scope="row" class="ellipsis small-column clickable" title="{{ poi.id }}" (click)="copyId(poi.id)">
            {{ poi.id }}
          </th>
          <td>
            {{ poi.name }}
          </td>
          <td>
            <span *ngFor="let trailId of poi.trailIds">
              <span class="trailCodeColumn" (click)="showPreview(poi.coordinates, trailId)">{{ getTrailCode(trailId) }}</span>
            </span>
          </td>
          <td><span [innerHTML]="this.getPoiIcon(poi)"></span> {{ macroMap.get(poi.macroType) }}</td>
          <td>
            {{ formatStringDateToDashes(poi.recordDetails.uploadedOn) }}
          </td>
          <td>
            {{ poi.recordDetails.uploadedBy }}
          </td>
          <td class="clickable" *ngIf="authService.isRealmMatch()">
            <svg class="bi" width="24" height="24" fill="currentColor"
                 routerLink="/admin/poi-management/edit/{{ poi.id }}">
              <use
                xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#pencil"
              />
            </svg>
          </td>
          <td class="clickable" *ngIf="authService.isRealmMatch()">
            <svg class="bi" width="24"
                 height="24" fill="currentColor"
                 (click)="onDelete(poi.id)">
              <use
                xlink:href="/assets/bootstrap-icons/bootstrap-icons.svg#trash"
              />
            </svg>
          </td>

        </tr>
      </tbody>
    </table>
    <div class="pagination-position">
      <ngb-pagination
        [pageSize]="entryPerPage"
        [collectionSize]="totalPoi"
        [(page)]="page"
        aria-label="Default pagination"
        (pageChange)="loadPois(page)"
      ></ngb-pagination>
    </div>
  </div>
  <ng-template #notShow>
    <app-items-not-found text="Nessun punto d'interesse trovato."></app-items-not-found>
  </ng-template>
</div>
